body{
	background-color: #fafafa;
	/*-webkit-overflow-x: hidden;
	-ms-overflow-x: hidden;
	    overflow-x: hidden;*/
}

.site-header:after,
.site-header:before,
.headercolor-gositus:before{
	content: "";
	position: absolute;
	bottom: 0;
	height: 1px;
	width: 100%;
}

.site-header:before{
	background: #0099ff;
	z-index: 1;
}

.site-header:after{
	background: #99cc33;
	right: 20%;
	z-index: 2;
	width: 50%;
}

.headercolor-gositus:before{
	background: #ffc500;
	z-index: 3;
	right: 0;
	width: 40%;
}

.sidebar-backdrop:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0.3;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: url('../../../assets/goadmin/gositus-logo.png') no-repeat #FFF center bottom;
	-webkit-background-size: 95%;
	     -o-background-size: 95%;
	        background-size: 95%;
}

.table{
	width: 100% !important;
}

.table tbody tr{
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	    -ms-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
}

.table tbody tr:hover{
	background: rgba(255, 197, 0, 0.2);
}

.modal-sm{
	width: 400px;
}

.font-bold{
	font-weight: bold !important;
}

.font-normal{
	font-weight: normal !important;
}

.font-lighter{
	font-weight: lighter !important;
}

.no-border{
	border: none !important;
}

.form-control.error{
	padding: 6px 12px;
	text-align: left;
}

label.error{
	color: #e53935;
	display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0;
    font-weight: normal;
    text-align: left;
    font-size: 13px;
}

.wrap-preview-image,
.wrap-preview-file
{
	overflow: hidden;
	max-width: 150px;
	max-height: 150px;
	width: 100%;
	height: 100%;
	margin: 10px 0;
	display: none;
}
.wrap-preview-file{
	margin:0px;
	max-width: 350px;
}
.info-path-image{
	display: none;
}

.wrap-preview-image img{
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_desc_disabled:after{
	bottom: 50%;
	-webkit-transform: translateY(50%);
	   -moz-transform: translateY(50%);
	    -ms-transform: translateY(50%);
	     -o-transform: translateY(50%);
	        transform: translateY(50%);
}

#list-icon .demo-icon-block{
	cursor: pointer;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	    -ms-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
}

#list-icon .demo-icon-block:hover{
	background: #1d87e4;
	color: #FFF;
}

.form-icon .show-icon{
	/*margin: 5px 0 0;*/
	display: inline-block;
}

.custom-error-validation{
	padding: 0 0 0 15px;
	margin: 0;
}

.wrap-back-reset{
	text-align: left;
}

.wrap-back-reset.right{
	text-align: right;
}

.wrap-add{
	text-align: right;
	
}

.wrap-delete-image{
	text-align: right;
	/*margin: 10px 0 0;*/
	display: none;
}

.layout-left-sidebar-collapsed ul.sidebar-submenu{
	background: #FFF;
}

.dropdown-messages .m-items{
	width: 100%;	
}

.tagline{
	position: fixed;
	right: 0;
	z-index: -1;
	bottom: -24px;
}

.tagline h1{
	font-size: 200px;
	color: #efefef;
	opacity: 1;
	font-weight: normal;
}

.warp-change-status .switch .s-handle{
	background: #e53935;
}

#list-table tr.selected{
	background: rgba(52, 168, 83, 0.2);
}
#list-table tr.disable-flag,  tr.disable-flag a.btn-views{
	color: #ccc;
}
#list-table tr.notif-flag, #list-table tr.notif-flag td a {
	color: #e53935;
}

#list-table tr.selected td{
	border-top: 1px solid #FFF;
}

#list-table .custom-control-primary .custom-control-input:indeterminate~.custom-control-indicator{
	background-color: #1d87e4;
	border-color: #1D87E4;
}

#list-table .wrap-checkbox-delete .custom-checkbox .custom-control-indicator,
#list-table .wrap-check-all .custom-checkbox .custom-control-indicator{
	pointer-events: visible;
}

#list-table .wrap-checkbox-delete .custom-control,
#list-table .wrap-check-all .custom-control,
#list-table thead .wrap-check-all .custom-checkbox .custom-control-indicator{
	pointer-events: none;
}

.table-custom-user .tr-parent{
	background: rgba(255, 197, 0, 0.2);
}

.table-custom-user .custom-control{
	display: inline-block;
}

#list-table .switch .s-content{
	width: 30px;
}

#list-table .switch .s-input:checked+.s-content .s-handle{
	left: 15px;
}

.form-control:focus{
	border: 1px solid #1d87e4;
}

#list-table .warp-change-status,
#list-table .warp-change-status .switch{
	pointer-events: none;
}

#list-table .warp-change-status .s-content{
	pointer-events: visible;
} 

.site-footer{
	background-color: #fafafa;
}

#list-table thead th:last-child{
	cursor: pointer;
}

.font-10{
	font-size: 10px;
}

.wrap-icon-front span,
.wrap-icon-front i{
	display: inline-block;
	vertical-align: middle;
}

@media (min-width: 992px) and (max-width:1329px) {
	.wrap-status label{
		width: 100% !important;
	}
}

@media (max-width: 767px) {
	.wrap-back-reset, .wrap-button-action , .wrap-add, .wrap-back-reset.right{
		text-align: center;
	}
}

@media (max-width: 425px) {
	.modal-sm{
		width: auto;
	}

	#list-table_wrapper{
		padding: 20px 0;
	}
}

@media (max-width: 320px) {
	.wrap-status label{
		width: 100% !important;
	}
}
form div.language{
	display: none;
}
#language-bar{
	margin-bottom: -5px;
	display: inline-block;
	background: #FFF;
}

#language-bar li a img{
	max-height: 15px;
	margin: 0 8px 0 0;
	display: inline-block;
	vertical-align: middle;
}

#language-bar li a span{
	display: inline-block;
	vertical-align: middle;
}

.gohide {
	display: none;
}
p.no-message {
    text-align: center;
    height: 200px;
    top: 60px;
    /* left: 33%; */
    position: relative;
  }

.ui-datepicker
{
	background-color: #fff;
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
	display: none;
	float: left;
	font-size: 14px;
	list-style: none;
	min-width: 45em;
	padding: 15px 25px;
	margin: 2px 0 0;
	text-align: left;
	width: auto;
	z-index: 1000 !important;
}
.ui-datepicker table
{
	font-size: 0.9em;
}
.ui-datepicker th
{
	padding:0.5em;
}

.ui-widget-header
{
	background: #fff;
	border:none;
}


.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover
{
	top: inherit;
}
.ui-datepicker-calendar td
{
	border: 1px solid #efefef;
	color: #FFF;
	padding: 0;
}
.ui-datepicker td span, .ui-datepicker td a
{
	padding:0.3em 0.3em;
	font-size: 16px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active
{
	background: #fff;
	border:1px solid #fff;
	color: #444;
	text-align: center;
}

/* HOVER */
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus
{
	background: #efefef;
	border:1px solid #efefef;
}

/* TODAY */
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight
{
	background: #efefef;
	border: 1px solid #efefef;
	font-weight: bold;
}

/* TODAY:Hover */
.ui-widget-content .ui-state-highlight.ui-state-hover:hover, .ui-widget-header.ui-state-highlight.ui-state-hover:hover
{
	background: #faa800;
	border: 1px solid #faa800;
}

/*Red Sunday*/
.ui-datepicker .ui-datepicker-calendar thead tr th:last-of-type span, .ui-datepicker .ui-datepicker-calendar tbody tr td:last-of-type a
{
	color: #f20000;
}
.ui-datepicker .ui-datepicker-calendar tbody tr td:last-of-type a.ui-state-active{
	color: white;
}

/* SELECTED DATE */
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover
{
	background: #ffeeb3;
	border:1px solid #ffeeb3;
	color: #444;
}

/* SELECTED DATE:Hover */
.ui-widget-content .ui-state-active.ui-state-hover:hover, .ui-widget-header .ui-state-active.ui-state-hover:hover
{
	background:#faa800;
	border:1px solid #faa800;
}

/*Block Date*/
.dp-highlight .ui-state-default 
{
    background: #ffeeb3 !important;
    color: #444 !important;
}


/*custom*/
.has-error-cms .form-control {
    border-color: #e53935;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.form-group .checkseo{
	padding-top: 7px;
}
.modal-title, .modal-body label {
    text-transform: capitalize;
}
a.btn-views{
 display: block; color: #333; padding: 5px 0; 
}
    .input-group {
    position: relative;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
.input-group-prepend {
    margin-right: -1px;
}

.input-group-append, .input-group-prepend {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.input-group-text {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .7rem;
    font-size: .96rem;
    line-height: 1.25;
    color: #4E5154;
    text-align: center;
    background-color: #EDEDED;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
}
 .input-group>.form-control:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group>.form-control, .input-group>.form-control-plaintext {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
.panel .panel-dashboard{
	margin-top: 0;
	padding-top: 0; 
}