:root {
    --ck-sample-base-spacing: 2em;
    --ck-sample-color-white: #fff;
    --ck-sample-color-green: #279863;
    --ck-sample-color-blue: #1a9aef;
    --ck-sample-container-width: 1285px;
    --ck-sample-sidebar-width: 350px;
    --ck-sample-editor-min-height: 250px;
    --ck-sample-editor-z-index: 10;
}
/* --------- EDITOR STYLES  ---------------------------------------------------------------------------------------- */

.editor__editable,
    /* Classic build. */
main .ck-editor[role='application'] .ck.ck-content,
    /* Decoupled document build. */
.ck.editor__editable[role='textbox'],
.ck.ck-editor__editable[role='textbox'],
    /* Inline & Balloon build. */
.ck.editor[role='textbox'] {
    width: 100%;
    background: #fff;
    font-size: 1em;
    line-height: 1.6em;
    height: var(--ck-sample-editor-min-height);
    padding: 1.5em 2em;
}

.ck.ck-editor__editable {
    background: #fff;
    border: 1px solid hsl(0, 0%, 70%);
    width: 100%;
}

/* Because of sidebar `position: relative`, Edge is overriding the outline of a focused editor. */
.ck.ck-editor__editable{
    position: relative;
    z-index: var(--ck-sample-editor-z-index);
}

.ck .ck-source-editing-area textarea{
   height: var(--ck-sample-editor-min-height) !important;
}

.editor-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    width: 100%;
    justify-content: center;
}

.dark .ck-toolbar{
    border:0!important;
    background: #4a494b!important;
}

.ck-editor.fullscreen{
    position: fixed!important;
    width: 100%!important;
    height: 100vh!important;
    z-index: 999998;
    top: 0;
    left: 0;
}

.ck-editor.fullscreen .ck-editor__main,
.ck-editor.fullscreen .ck-content,
.ck-editor.fullscreen .ck-source-editing-area,
.ck-editor.fullscreen .ck-source-editing-area textarea{
    height: 100% !important;
}

.dark .ck-reset_all :not(.ck-reset_all-excluded *), .ck.ck-reset_all{
    color: #fafafa!important;
}