/* scrollbar_master */

.scrollgeneric
{
	line-height: 1px;
	font-size: 1px;
	position: absolute;
}

.vscrollerbase, .vscrollerbar {
	width: 15px;
	top: 0px;
}

.vscrollerbar {
	left: 0px;
}

.hscrollerbase, .hscrollerbar {
	height: 15px;
	left: 0px;

}


.hscrollerbar {
	top: 0px;
}

.hscrollerbar {
	top: 20px important;
}

.vscrollerbar, .hscrollerbar {
	/*padding information of these elements are only used for
	padding of the scroll-bar with respect to the scroll base,
	the padding will automatically be turned off by the script*/
	padding: 5px;
	z-index: 2;
}


.vscrollerbarbeg {
	/*top image holder for vertical scroll bar*/
	background: url(../images/flexcroll/vscroller.png) 0px -6px; /* 0px -10px */
	width: 15px;
	height: auto;
	top: 0px;
}

.vscrollerbarend {
	/*bottom image holder for vertical scroll bar*/
	background: url(../images/flexcroll/vscroller.png) 0px -4px;
	width: 15px; /* 15px */
	height: 10px; /* 10px */
}


.hscrollerbarbeg {
	/*background: url(../images/flexcroll/hscroller.png) -10px 0px;*/
	height: 15px;
	width: auto;
	left: 0;
}

.hscrollerbarend {
	/*background: url(../images/flexcroll/hscroller.png);*/
	height: 15px;
	width: 10px;
}

/* Following are OPTIONAL */

.vscrollerbase, .hscrollerbase {
	/*background-color: #FFFFFF; comment for right scroller*/
	background-image: url(../images/flexcroll/scrollbaseback.png);

}

.hscrollerbasebeg {
	left: 0px;
	top: 0px;
	height: 15px;
	/*background: url(../images/flexcroll/scrollbases.png) -22px 0px no-repeat;*/
}

.hscrollerbaseend {
	top: 0px;
	height: 15px;
	width: 7px;
	/*background: url(../images/flexcroll/scrollbases.png) 0% 0% no-repeat;*/
}

.vscrollerbasebeg {
	top: 0px;
	width: 15px;
	background: url(../images/flexcroll/scrollbases.png) -7px -14px no-repeat;
}

.vscrollerbaseend {
	height: 13px;
	width: 15px;
	background: url(../images/flexcroll/scrollbases.png) -7px 0px no-repeat;
}

/*
.vscrollerbasebeg {
	top: 0px;
	width: 15px;
	background: url(../images/flexcroll/scrollbases.png) -7px -8px no-repeat;
}

.vscrollerbaseend {
	height: 7px;
	width: 15px;
	background: url(../images/flexcroll/scrollbases.png) -7px 0px no-repeat;
}
*/
.scrollerjogbox {
	width: 15px;
	height: 15px;
	bottom: 0px;
	right: 0px;
	background: white url(../images/flexcroll/scrolljog.png) 50% 50%;
}


/* scrollbar_master */


/* begin page_related_styles */

#custom_scroll_left {
	/*background-color: #FFFFFF;*/
	width: 290px; /* auto */
	height: 370px; /* 340 + 40*/
	overflow: auto;
	margin: 0px;
	padding: 0px;
	padding-right:4px;
	border: 0px solid #410000;
	position: relative;
	left: 0px;
	top: 0px;
}

#custom_scroll_right {
	/*background-color: #FFFFFF;*/
	width: 454px; /* auto */
	height: 410px; /* 380 + 40*/
	overflow: auto;
	margin: 0px;
	padding: 0px;
	padding-right:4px;
	/*border: 1px solid #410000;*/
	position: relative;
	left: 0px;
	top: 0px;
}

.fixedsize {
width: 400px; /* 480 */
height: auto;
position: relative;
color: black;
padding: 1px;
}


/* end page_related_styles */