fieldset {
    border:none;
}
.popup_form {
	width:640px;
}

.career_form {
	vertical-align:top;
	width:780px; /* 640 */
	padding:0;
	display:inline-block;

}

.career_form ul li.header, .career_form ul li.title {
	width:30%;
	height: 120px;
	float:left;
}

	.career_form ul li.title {
		width:70%;
	}

	.career_form fieldset {
		display:inline-block;

	}

.career_form ul li {
	width:380px;
	margin-bottom:4px;
	float:left;

}

a.btn_apply_hide {
    visibility:hidden;
}
    

a.btn_apply {
	background:#577d8f;
	
	padding:6px 10px;
}

a.btn_apply span {

color:#fff;
}


	.career_form ul li p {
		color:#333;
		/*font-family: GothamLight;*/
		font-size:13px;
		clear:both;
		width:380px;
		/*border:1px solid #000;*/
		padding-bottom:2px;
	}
	.career_form input[type="text"]{
		font: normal 12px Arial, Helvetica, Arial, Verdana, sans-serif;
		color: #3a3a3a;
		padding:7px;
		/*border-color:#e6e6e6;*/
	}
	
	.career_form label{
		text-transform:uppercase;	
		font: normal 14px/14px Arial, "DINRegular", Helvetica;
		padding-top:10px;
		padding-bottom:10px;
	}
	.career_form h3{
		/* default background colour, for all layout engines that don't implement gradients */
		background: #577d8f;			
		/* gecko based browsers 
		background: -moz-linear-gradient(left, #00527f, #009dcf);			
		webkit based browsers 
		background: -webkit-gradient(linear, left, right , from(#00527f), to(#009dcf));*/
		
		font: normal 13px/13px Arial, "DINRegular", Helvetica;
		color:#fff;
		margin:0 0 4px 0;
		width:100%;
		text-indent:10px;
	}

	.career_form h3 span {
		padding:4px 2px;
		width:100%;
		text-transform:uppercase;
		font-weight:bold;
		

	}
	
	
table.job_table {
	padding:0;
	margin:0;
	width:780px;
	color:#000;
}

.job_label {
	padding-top:12px;
	padding-bottom:0u;
	/*height:24px;*/
	vertical-align:top;
	/*color:#000;
	font-size:12px;*/
	font: normal 14px/14px Arial, "DINRegular", Helvetica;
	color: #666;	
	text-transform:uppercase;
	
}


.job_input {
	font: normal 12px Arial, Helvetica, Verdana, sans-serif;
	color: #3a3a3a;
	padding-top:4px;
	padding-bottom:4px;
}

.job_input input[type="text"]{
	font: normal 12px Arial, Helvetica, Verdana, sans-serif;
	color: #3a3a3a;
	padding:3px;
}


