html {	
    overflow-x: hidden;
	overflow-y: scroll;
}


body {
	font-family:Arial, Verdana, Helvetica, Comic Sans MS;
	/*background-color: #ccc;*/
	font-size:12px;
	color:#463f25;
	margin:0;
	padding:0;
	line-height: 18px;
}

b	{
	font-size: 100%;
}

br {
	
}
	
em {
	color: #463f25;
	font-weight: normal;
}

strong {
	color: #666;
}

h1, h3, h4, h5, h6, p, blockquote {
	font-family:Helvetica, Arial, Verdana;

}

h5 {
    font-size: 17px;
    font-weight: normal;
    line-height: 16px;
    margin: 0;
    padding: 0;
    padding-top: 2px;
}

h4 {
	font-size:20px;
	font-weight:normal;
	line-height:20px;
	margin:0;padding:0;
	padding-top:2px;
	
}

h4.career {
	color:#4f606d;
}
h2 {
	font-family:Helvetica, Arial, Verdana;
}


p {
	font-size:12px;
	line-height:18px;
	padding:0;
	margin:0;
	
	
}

hr {
	border:0;
	border-top:1px solid #d7d7d7;
}

/*
ol, ul {
	padding:0;
	margin:0;


}
*/
ol, ul {
	padding:0;
	margin:0;
	border:0;
	/*list-style:none;*/
	list-style-image: none;
	list-style-position:inside;
	color:#463F25;

}

ol {
	/*list-style-type:decimal;*/
}
ul {
	list-style-type:disc;
}

strong {
	color:#463f25;
	
}

a, a:link, a:active, a:hover, a:visited {
	font-size:12px;
	font-weight:normal;
	color:#7d8658;
	text-decoration:none;
	letter-spacing:0px;
	outline: none;
}

div {
	outline: none;
}

a:hover {
	color:#463f25;
	text-decoration:none;
	outline: none;
	
}

#main_container, 
#header, 
#menu,
#banner,
#main_content,
#footer
{
	margin:0 auto;
	padding:0;
	position:relative;
	display:block;
	
}


#main_container {
	margin:0 auto;
	padding:0;
	width:977px;
	height:auto;
	background-color:#fff;
}

#topbar {
	height:12px;
	margin:0;
	padding:0;
	background:url(../images/modules/topbar.jpg) no-repeat;
}

#logo {
	height:98px;
	width:977px;
	/*border:1px solid #ff0000;*/
}

#logo_inner {
	width:310px;
	height:97px;
	/*background:url(../images/modules/logotop.jpg) no-repeat;*/
	float:left;
	/*border:1px solid #ff0000;*/
}

#logo_spacer {
	width:450px;
	height:97px;
	float:left;
	
}


#search_input {
	margin-top:60px;
	width:200px;
	height:24px;
	float:right;
	
}



#input_search, #input_text {
	width: 180px;
	margin:0;
	border: 1px solid #dedede;
	background-color:#f2f2f2;
	color: #898989;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	height: 16px;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	background:url(../images/modules/search.jpg) no-repeat top right;
}


#input_text {
	width: 80%;
	margin:0;
	margin-bottom:6px;
	background-color:#f9f7f4;
	height: 20px;
	background:none;
	
}

#menu {
	width:977px;
	height:50px;
	margin:0;
	padding:0;
}

#menu_spacer {
	width:240px;
	height:40px;
	float:left;
}

#menu_inner {
	margin:0;
	padding:0;
	width:917px; /* 710px 620 - 700*/
	height:50px;
	float:left;
        text-align: right;
	display:inline;
	/*margin-left:200px;  280 190 */
	/*border:1px solid #000;*/
}
#menu_inner ul { padding-right:34px; }
#menu_inner ul, #menu_inner li {
	line-height:normal;
	list-style:none;
	list-style-image: none;
	line-height: normal;
	list-style-position:outside;
	display: inline-block;
	/*float:left;
	width:auto;*/
}

#menu_inner li {
	border-right:1px solid #666;
	padding-left:10px;
	padding-right:10px;
}

li#menu_inner_last {
	border:0px solid;
}

#menu_inner a, #menu_inner a:active, #menu_inner a:visited, #menu_inner a:hover {
	font-size:10px;
	color:#5d6c79;
	padding-left:2px;
	padding-right:2px;
	/*
	margin-left:4px;
	margin-right:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:2px;
	padding-bottom:2px;
	*/
	/*border:1px solid #000;*/
}

#menu_inner a:hover {
	background-color:#5c7f91;
	color:#fff;
	padding-left:2px;
	padding-right:2px;
}


#menu_inner_active {
	font-size:10px;
	margin-top:2px;
	padding-left:2px;
	padding-right:2px;
	/*
	padding-left:4px;
	padding-right:4px;
	margin-left:4px;
	margin-right:4px;
	*/
	background-color:#5c7f91;
	color:#fff;
	/*float:left;*/
}

#submenu_inner {
	border:1px solid #000;
}


#menu_hover {
	background-color:#E6E6FF;
	width:400px;
	height:32px;
}

#lang_selector {
	width:60px;
	margin:0;
	padding:0;
	float:right;
	text-align:right;
	/*border:1px solid #ff0000;*/
}

#lang_selector a:link, #lang_selector a:visited, #lang_selector a:hover  {
	font-size:10px;
	color:#5d6c79;
	/*margin-right:6px;
	margin-left:6px;
	
	padding-left:0px;
	padding-right:6px;
	*/
}

#lang_selector a:hover  {
	/*background-color:#5c7f91;*/
	color:#fff;
	
	height:32px;
}


#lang_selector img {
	padding-left:0px;
	padding-right:6px;
}

#banner {
	height:215px;
	clear:both;
	background-color:#362E2B;
}

#banner_left, #banner_right {
	width:621px;
	height:215px;
	padding:0;
	margin:0;
	float:left;
	
}

#banner_right {
	width:354px;
	height:215px;
	float:right;
}

#main_content, #index_content {
	margin-top:25px;
	width:977px;
	height:250px; /* 250 px */
	height:100%;
	min-height:100%;
	padding-bottom:20px;
	/*border:1px solid #000;*/
	
}

#main_content a, #main_content a:active, #main_content a:visited, #main_content a:hover {
	color:#5c7f91;
	font-size:12px;
	line-height:15px;	
	
}

#main_content a:hover {
	color:#000;
}


#index_content {
	clear:both;
	padding:0;
	margin:auto;
	width:756px;
	height:390px;
}

#left_spacer {
	width:100px;
	float:left;
	
}

#right_spacer {
	width:100px;
	float:right;
	
}
#left_content, #left_content_practice, #left_content_publications, #left_content_profile, #left_content_contact, #left_content_document, #left_content_career {
	width:290px;
	margin-right:20px;
	text-align:right;
	vertical-align:top;
	float:left;
	/*border:1px solid #000;*/
}

#left_content_al {
	width:420px;
	margin-left:100px;
	line-height:24px;
	vertical-align:top;
	float:left;
}

#asslawyer_content {
	width:850px;
	margin-left:100px;
	margin-bottom:100px;
	vertical-align:top;
	float:left;
}

#right_content_al {
	float:left;
	width:360px;
	line-height:24px;
	margin-left:10px;
	/* border:1px solid #000; */
}

#left_content_career {
	width:460px;
	text-align:left;
	margin-left:20px;

}

#left_content_document {
	width:220px;
	text-align:left;

}

/* template practice, contactus */
#left_content_practice {
	width:320px;
	text-align:left;
	
}

#left_content_contact {
	width:250px;
	text-align:left;
	
}

#left_content_inner {
	height:30px;
	
}

#left_content_publications {
	text-align:left;
	padding-left:94px; /* 20 */
	line-height:30px;
	width:260px;
}

#left_content_profile {
	text-align:right;
	width:290px;
	margin:0;
	line-height:24px;
}




#page_title {
	color:#463f25;
	font-weight:normal;
	font-size:30px;
	line-height:40px;
	
}

#page_nav, #practive_nav {
	width:290px; /* 290 */
	text-align:right;
	
}

#page_nav ul, #practice_nav ul {

}

#page_nav li, #practice_nav li {
	line-height:normal;
	list-style:none;
	line-height: normal;
	list-style-position:inside;
	text-align:right;
	/*display:inline;*/
	text-transform:uppercase;
	margin-top:2px;
	margin-bottom:8px;
}

#practice_nav li {
	margin-bottom:2px;
	text-transform:none;
}


#middle_content, #middle_content_practice, #middle_content_profile, #middle_content_contact, #middle_content_publications, #middle_content_document, #middle_content_career {
	width:460px;
	float:left;
	/*border:1px solid #000;*/
}

#middle_content_practice {
	width:458px;
	line-height:30px;
}

#middle_content_practice ul, #middle_content_practice li {
	list-style:disc;
	list-style-position: outside;
	margin-left:10px;
	height:auto;
}

#middle_content_practice li {
	/*height:20px;*/
	line-height:20px;
	
}

#middle_content table {
	border:solid 1px #bdbdbd;
	border-collapse:collapse;
}



#middle_content_practice a {
	text-transform:normal;
	font-size:12px;
	/*line-height:30px;*/
	
}

#inner_content {
	padding-top:12px;
	line-height:16px;
}


#middle_content_profile {
	width:250px; /* 20081010 - 300px */
	text-align:right;
	line-height:24px;
	
}

#middle_content_contact {
	width:300px;
}

#middle_content_document {
	width:530px;
}

#middle_content_document ul li {
	list-style:none;

	list-style-position: outside;
	margin-left:0px;
	height:auto;
}

#middle_content_publications {
	width:370px;
	line-height:30px;
	
}

#middle_content h2 {
	padding:0 0 10px 0; margin:0 0 10px 0;
	border-bottom:1px solid #ddd;

}

.timeline_60 p, .timeline_70 p, .timeline_80 p, .timeline_90 p, .timeline_00 p  {
    line-height: 16px;
    text-align: justify;
}

.decades {
    font-size: 12pt;
    font-weight: bold;
    border-bottom: solid 3px #90976b;
    width: 60px;
}

.timeline_60 {
    background-image: url(../images/timeline_60.png);
    background-repeat: no-repeat;
    background-position: 0 22px;
    padding-left: 30px;
}

.timeline_70 {
    background-image: url(../images/timeline_70.png);
    background-repeat: no-repeat;
    background-position: 0 22px;
    padding-left: 30px;
}

.timeline_80 {
    background-image: url(../images/timeline_80.png);
    background-repeat: no-repeat;
    background-position: 0 22px;
    padding-left: 30px;
}

.timeline_90 {
    background-image: url(../images/timeline_90.png);
    background-repeat: no-repeat;
    background-position: 0 22px;
    padding-left: 30px;
}

.timeline_00 {
    background-image: url(../images/timeline_00.png);
    background-repeat: no-repeat;
    background-position: 0 22px;
    padding-left: 30px;
}


#right_content, #right_content_profile, #right_content_practice {
	width:205px;
	float:right;
	/*border:1px solid #000;*/
}

#right_content_profile {
	float:left;
	text-align:right;
	width:250px;
	line-height:24px;
	/* border:1px solid #000; */
}


#right_content_practice {
	line-height:30px;	
}

#clear {
	clear:both;
	width:20px;
}

#footer {
	margin-top:10px;
	font-size: 10px;
	border-top:1px solid #dedede;
	padding-top:4px;
	clear:both;
	height:24px;
	color:#999;
	text-align:right;
}

#footer_index {
	/*background-image: url(../images/modules/nuagelogo.jpg);
	background-repeat: no-repeat;*/
	margin-top:10px;
	font-size: 10px;
	border-top:1px solid #dedede;
	padding-top:4px;
	clear:both;
	height:24px;
	color:#999;
	text-align:right;
}
#footer_image {
	outline: none;
	text-align: left;
	float:left;
	border-style: none;
}



#login {
	background-color:#ffffff;
	margin:0;
}

#login form {
}

#login fieldset {
	border: none;
	
}

#login legend {
	display: none;
}

#login label {
	display: block;
}

.input_submit, .input_subscribe, .input_submit_hover, .input_subscribe_hover, .input_unsubscribe, .input_unsubscribe_hover {
	height:19px;
	width:68px;
	color:#404040;
	font-size:10px;
	font-family:Helvetica;
	border:0px;
	background: url(../images/modules/btn_login_0.jpg) no-repeat;
	cursor:hand;
}


.input_subscribe {
	background: url(../images/modules/btn_subs_0.jpg) no-repeat;
	
}

.input_submit_hover {
	background: url(../images/modules/btn_login_1.jpg) no-repeat;
	
}

.input_subscribe_hover {
	background: url(../images/modules/btn_subs_1.jpg) no-repeat;
	
}

.input_unsubscribe {
	background: url(../images/modules/btn_unsubs_0.jpg) no-repeat;
	
}

.input_unsubscribe_hover {
	background: url(../images/modules/btn_unsubs_1.jpg) no-repeat;
	
}

.margin_top {
	margin-top:10px;
}

.inline_block {
	display:inline-block;
}

.block {
	display:block;
}


.award_panel {
	float:left;
	min-height:100px;
	
	width:auto;
	padding:0 10px 10px 0;
}

/*--- pagination ----*/

.pagination { padding: 0 0 18px 0; margin: 0 0px; border-top: 1px solid #ccc; }

	.pagination li { padding: 0; margin: 0; float: left; border-right: 1px solid #ccc; }
	.pagination li:last-child { border: none; }
	
	.pagination a
	{
		/*font-family: 'HelveticaNeueLTStd67MdCn';*/
		font-size: 12px;
		font-weight: normal;
		color: #999;
		line-height: 27px;
		text-decoration: none;
		height: 27px;
		padding: 10px 10px 0 10px;
		display: block;
	}
	.pagination a:hover { color: #666; }
	.pagination .active a { color: #538ab0; }


/* ==|== pagination ======================================== */
.pagination { padding: 10px0 0 10px 0; margin: 20px 30px 0 0; border-top: 1px solid #ccc; }

	.pagination li { padding: 0; margin: 0; float: left; border-right: 1px solid #ccc; }
	.pagination li:last-child { border: none; }
	
	.pagination a
	{
		/*font-family: 'HelveticaNeueLTStd67MdCn';*/
		font-size: 11px;
		font-weight: normal;
		color: #999;
		line-height: 27px;
		text-decoration: none;
		height: 27px;
		padding: 10px 10px 0 10px;
		display: block;
	}
	.pagination a:hover { color: #666; }
	.pagination .active a { color: #538ab0; }



	/* accordion_list */
	ul.accordion_list {
		list-style:none;
		margin:0;
		padding:0;

	}

	.accordion_list li {
		padding:10px 0 0 0;
		margin:0;
		border-bottom: 1px solid #bdbdbd;
		list-style-image: none;
	}

	.accordion_list li br {
		/*font-size:0.2em;*/
		height:1px;


	}
		.accordion_list li p {
			font-size: 1em;
			float: left;
			margin-left: 0;
			margin:0; padding:0 0 10px 0;
		}
		
		.accordion_list li p.accordion_date {
			color: #666666;
			width: 140px;
		}
		
		.accordion_list li p.accordion_description,
		.accordion_list li p.accordion_long_description {
			color: #36a4c9;
			width: 240px;
			padding-right: 20px;
		}

		.accordion_list li p.accordion_long_description {
			width:540px;
		}
		
			.accordion_list li p a {
				background: url('../images/modules/bullet_detail_blue.png') no-repeat left center;
				color: #36a4c9;
				text-decoration: none;
				display: block;
				padding-left: 20px;
				float: right;
			}
			
			.accordion_list li.active p a {
				background: url('../images/modules/bullet_detail_grey.png') no-repeat left center;
				color: #666666;
				display: block;
			}
			
		.accordion_list li div {
			/*background: #efefef;*/
			padding: 0;
		}

			.accordion_list div li {
				border-bottom:0;
				margin:0; padding:0;
			}
			
			.accordion_list li div p {
				font-size: 1em;
				float: left;
			}
			
			.accordion_list li div p.left {
				color: #666666;
				width: 100px;
				margin-left: 40px;
			}
			
			.accordion_list li div p.right {
				color: #4d4d4d;
				width: 340px;
			}
	
			.accordion_list li:first-child {
				padding-top: 0;
			}
			.accordion_list li:last-child {
				padding-bottom: 0;
				border-bottom: none;
			}


/*********** FORMS **********/
form div
{
	margin-left: 0px;
}

form label
{
	font-family: Verdana, Geneva;
	font-size: 1em;
	color: #666666;
}

form input[type="submit"], 
form input[type="reset"],
input.btn_send
{	
	font-family: Verdana, Geneva;
	font-size: 1em;
	color: #fff;
	background: -moz-linear-gradient(top, #36a4c9, #2a4152);
	background: -webkit-gradient(linear, left top, left bottom, from(#36a4c9), to(#2a4152));
	padding: 6px 16px;
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
}

/*form input[type="text"]*/
form input
{
	padding: 5px;
	border: 1px solid #c2c2c2;
}

form input[type="checkbox"]
{
	margin-top: 3px;
	border: 1px solid #c2c2c2;
}

form select
{
}

form textarea
{	
	padding: 5px;
	border: 1px solid #c2c2c2;
}

div.content_career ul {
	list-style-position:outside;
	margin-left:16px;
}
/*
form#application h3
{

	width: 620px;
	margin-left: 0px;
	margin-right: 20px;
}

	form#application h3 span
	{
		font-family: 'DINMedium';
		font-size: 1.4em;
		font-weight: normal;
		color: #fff;
		display: block;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-left: 10px;
	}
*/

/*********** FORMS **********/

/* NEW ADJUST 04 JUNI 2014 */
.md_cnt ul {
	padding-left:15px;
	list-style-position:outside;
}

.md_cnt ol {
	padding-left:15px;
	list-style-position:outside; 
	list-style:decimal;
}

.md_cnt ul li, .md_cnt ol li {
	margin-bottom:4px;
	margin-left:15px;
	color:#463F25;
}
