body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, input, th, td
{
/*margin: 0; padding: 0; border: 0; outline: none; */;
margin: 0; padding: 0; outline: none;
}

body
{
line-height: 1;
/*font-size: 88%  Decide for yourself if you want to include this. */;
}

h1, h2, h3, h4, h5, h6
{
font-size: 100%;
padding: .6em 0;
margin: 0 15px;
}

ul, ol
{
list-style: none;
}

a
{
color: black;
text-decoration: none;
}

a:hover
{
text-decoration: underline;
}

.floatLeft
{
float: left;
padding: .5em .5em .5em 0;
}

.floatRight
{
float: right;
padding: .5em 0 .5em .5em;
}

.uppercase { text-transform:uppercase; }
.left { float:left; }
.right { float:right; }
.block { display:block; }
.inline_block { display:inline-block; }
.clear { clear:both; }
.clear_right { clear:right; }
.clear_left { clear:left; }
.border { border:1px solid #ddd; }
.border_top { border-top:1px solid #ddd; }
.border_bottom { border-bottom:1px solid #ddd; }
.align_left { text-align:left; }
.align_center { text-align:center; }
.align_right { text-align:right; }
.padding_top { padding-top:16px; }
.padding_top_small { padding-top:10px; }
.padding_right { padding-right:10px; }
.padding_bottom { padding-bottom:10px; }
.margin_top { margin-top:10px; }
.margin_top_small { margin-top:5px; }
.margin_top_20 { margin-top:20px; }
.margin_bottom { margin-bottom:10px; }
.margin_bottom_small { margin-bottom:5px; }
.margin_bottom_50 { margin-bottom:50px; }
.margin_bottom_20 { margin-bottom:20px; }
.margin_left { margin-left:10px; }
.margin_left_50 { margin-left:50px; } 
.margin_left_100 { margin-left:100px; } 
.margin_right { margin-right:16px; }
.padding_right_23 { padding-right:25px; }
.padding_right_20 { padding-right:20px; }
.padding_bottom_20 { padding-bottom:20px; }

.white { color:#fff; }
.black { color:#000; }
.blue { color:#009DCF; }
.red { color:#ff0000; }
.nom { margin:0; }
.nop { padding:0; }

.height_100 { height:100px; }
.height_150 { height:150px; }
.height_750 { height:750px; }
.width_100 { width:100%; }
.width_220 { width:220px; }
.width_250 { width:250px; }
.width_50 { width:50%; }
.width_60 { width:60px; }
.width_180 { width:180px; }
.width_120 { width:120px; }
.width_400 { width:390px; }
.width_420 { width:420px; }

/*
.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

*/ 

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}



img.v_middle { vertical-align:middle; }
img.noborder { border:0; }
.v_bottom {
	vertical-align:bottom;
	position:absolute;
	bottom:0;
}

.superscript{font-size:xx-small; vertical-align:top;} 
.subscript{font-size:xx-small; vertical-align:bottom;} 

.smallcase { font-size:10px; }
.transparent_class {
	filter:alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}


.vertical_text {
	writing-mode: tb-rl;
	filter: flipv fliph;
	-moz-transform: rotate(270deg);
  	-moz-transform-origin: 50% 50%;
  	-webkit-transform: rotate(270deg);
  	-webkit-transform-origin: 50% 50%;
}

.shadow {
  -moz-box-shadow: 5px 5px 10px #ddd;
  -webkit-box-shadow: 5px 5px 10px #ddd;
  box-shadow: 5px 5px 10px #ddd;

}
