/* Wajib menambahkan font-display:swap; */
@font-face {
  font-family: 'Pragmatica';
  src: url("webfonts/fonts/Pragmatica-ExtraLight.ttf");
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'Gothic';
  src: url("webfonts/fonts/GothicExtendedExtraLight.ttf");
  font-style: normal;
  font-display: swap; 
}

@font-face {
  font-family: 'Vonnes';
  src: url('webfonts/fonts/Vonnes-Light.woff2') format('woff2'),
      url('webfonts/fonts/Vonnes-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

