@media (max-width: 992px) {
	header {
		.navigation {
			margin-bottom: 20px;
		}
		button.menu-mobile{
		display: flex;
		margin-left: 15px;
	    border: unset;
	    background: unset;
	    font-size: 14px;
	    color: #5c7f92;
	    	&:hover{
	    		color: #51616e;
	    		span{
	    			background-color: #51616e;
	    		}
	    	}
	    	
	    	.burger-menu{
	    		position: relative;
	    		width: 30px;
	    		height: 16px;
	    	}
	    	&.show{
	    		span{
	    			&:nth-child(1){
	    				transform: translateY(-50%) rotate(45deg);
	    				top: 50%;
	    			}
	    			&:nth-child(3){
	    				transform: translateY(-50%) rotate(-45deg);
	    				top: 50%;
	    			}
	    			&:nth-child(2){
	    				opacity: 0;
	    			}
	    		}
	    	}
	    	span{
	    		position: absolute;
	    		background-color: #5c7f92;
	    		display: block;
	    		width: 30px;
			    height: 2px;
			    border-radius: 4px;
			    transition-property: transform;
    			transition-duration: 300ms;
			    &:nth-child(1){
	    			top: 0px;
	    		}
	    		&:nth-child(2){
	    			top: 50%;
    				transform: translateY(-50%);
	    		}
	    		&:nth-child(3){
	    			bottom: 0px;
	    		}
	    	}
	    }
		.navigation {
		    .nav{
		    	display: block;
			    position: fixed;
			    width: 250px;
			    top: 0;
			    right: 0;
			    transform: translateX(250px);
			    height: 100%;
			    padding-top: 45px;
    			background: #f9f9f9;
			    li{
			    	border-right: unset;
			    	a{
				    	@include transform(translateX(30px));
	    				opacity: 0;
			    	}
			    	&:hover{
			    		.dropdown-nav.nav{
			    			display: block;
			    		}
			    	}
			    }
			    .nav-item{
			    	padding: 0px;
			    	.nav-link {
					    padding: 8px 15px;
					    font-size: 12px;
					}
			    }
			    .dropdown-nav.nav{
			    	transform: translateX(0px);
			    	position: relative;
			    	width: 100%;
			    	display: block;
			    	padding-top: 0px;
			    	background-color: #eceaea;
			    	.nav-item{
			    		display: block;
			    		.nav-link {
						    padding: 8px 15px;
						    padding-left: 30px;
						    position: relative;
						    &:before{
						    	content:'-';
						    	position: absolute;
						    	top: 50%;
						    	left: 17px;
						    	@include transform(translateY(-50%));
						    }
						}
			    	}
			    }
		    }
		}
	}
	#contain-wrapper{
		@include transition(translateX(0px));
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
		&.show{
			@include transform(translateX(-250px));
			.navigation .nav li{
				a{
					@include transform(translateX(0));
	    			opacity: 1;
				}
				&:nth-child(1) a{
    				@include transition(transform ease 0.6s 0.3s, opacity ease 0.6s 0.3s);
			    }
			    &:nth-child(2) a{
    				@include transition(transform ease 0.6s 0.4s, opacity ease 0.6s 0.4s);
			    }
			    &:nth-child(3) a{
    				@include transition(transform ease 0.6s 0.5s, opacity ease 0.6s 0.5s);
			    }
			    &:nth-child(4) a{
    				@include transition(transform ease 0.6s 0.6s, opacity ease 0.6s 0.6s);
			    }
			    &:nth-child(5) a{
    				@include transition(transform ease 0.6s 0.7s, opacity ease 0.6s 0.7s);
			    }
			    &:nth-child(6) a{
    				@include transition(transform ease 0.6s 0.8s, opacity ease 0.6s 0.8s);
			    }
			    &:nth-child(7) a{
    				@include transition(transform ease 0.6s 0.9s, opacity ease 0.6s 0.9s);
			    }
			    &:nth-child(8) a{
    				@include transition(transform ease 0.6s 1s, opacity ease 0.6s 1s);
			    }
			    &:nth-child(9) a{
    				@include transition(transform ease 0.6s 1.1s, opacity ease 0.6s 1.1s);
			    }
			}
		}
	}

}

@media (max-width: 767px) {
	body { 
		font-size:14px;
		line-height: 1.8;
	}
	.banner-name-right{
	    padding: 0px 0px 20px 0px;
	    font-size: 20px;
	    line-height: 20px;
	}
	.page-title {
	    font-size: 25px;
    	line-height: 30px;
	}
	.banner .caption-banner p.mainpage-title {
	    font-size: 38px;
	    line-height: 2.7rem;
	}
	header .navbar .navbar-brand img {
	    width: 125px;
	}
	.dropdown-item {
	    white-space: break-spaces;
	}
	.main-content{
		.badges{
			display: flex;
			justify-content: center;
			width: 100%;
			li{
				padding: 0 20px;
				img{
					width: 100px;
				}
			}
		}
	}
}