@media (max-width: 576px) {
	.banner-name-right{
	    padding: 15px 0px 15px 0px;
	    font-size: 18px;
	    line-height: 20px;
	}
	.main-content .slide-wrapper {
	    height: 100%;
	}
	.flexslider{
		margin: 0!important;
	}
	.achievements{
		.achievements-list{
			li{
				margin-bottom: 10px;
			    width: 22%;
			    text-align: center;
			    padding: 0;
			    margin-right: 10px;
				margin: 0;
				img{
					height: auto;
	    			width: 100%;
				}
			}
		}
	}
	#custom_scroll_right {
		height: auto !important;
	}

}
@media (max-width: 380px) {
	//.main-content .slide-wrapper {
	//    height: 245px;
	//}
}

