@import "bourbon/bourbon";
@import "fonts";

$gositus-green: #9dd22a;
$gositus-blue: #97d4e9;
$gositus-yellow: #f9d227;
$black-color: #333;
$black-alt-color: #666;
$white-color: #efefef;
$alert-color: #ff5a00;

$main-text-color: #5d6c79;
$body-text-color: #463f25;
$link-color: #5c7f91;


$font-title: Arial-BoldMT, sans-serif;
$font-body: Arial-BoldMT, sans-serif;

* {
  margin: 0;
  padding: 0;
  outline: none;
}

a {
  &, &:link, &:visited {
    text-decoration: none;
  }
}

html {
  position: relative;
  min-height: 100%;
  @media(max-width: 768px) {
    overflow-x: hidden;
  }
}

body {
  font-family: Arial, Verdana, Helvetica, Comic Sans MS;
  font-size: 12px;
  color: $body-text-color;
  margin: 0;
  padding: 0;
  line-height: 18px;
}

h1, h3, h4, h5, h6, p, blockquote {
  font-family: Helvetica, Arial, Verdana;
}

h5, h4 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  padding-top: 2px;
}

h5 {
  font-size: 17px;
  line-height: 16px;
}

h4 {
  font-size: 20px;
  line-height: 20px;
}

h2 {
  font-family: Helvetica, Arial, Verdana;
}

img {
  border: none;
}

div {
  &.clear {
    clear: both;
  }
}

#copyright-gositus {
  background: url(../images/gositus/go-online-solusi.png) no-repeat left bottom;
  display: inline-block;
  font-size: 10px;
  height: 20px;
  padding-left: 23px;
  color: inherit;
  background-size: 18px;
  @include transition(all 0.3s);

  &:hover {
    background-position: left top;

    label {
      color: $gositus-green;
      cursor: pointer;
    }

    span {
      color: $gositus-blue;
    }
  }
}

.banner-name-right {
  font-family: 'Vonnes';
  padding: 0px 8px 10px 2px;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 42px;
  letter-spacing: 1px;
  transform: scale(.8);
  @media(min-width: 600px) {
    padding: 15px 0px 15px 0px !important;
  }

  small {
    font-size: 16px;
    display: block;
  }
}

// .clearfix:after {

// }

.clearfix {
  display: inline-block;

  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

/* Hide from IE Mac \*/
.clearfix {
  display: block;
}

/* End hide from IE Mac */

::-moz-selection {
  background-color: $gositus-blue;
  color: #FFFFFF;
}

::selection {
  background-color: $gositus-blue;
  color: #FFFFFF;
}

.gohide {
  display: none;
}

label {
  &.error {
    color: $alert-color;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0;
    font-weight: normal;
    text-align: left;
    font-size: 13px;
  }
}

#kotakkosong {
  position: absolute;
  top: -8000px;
  left: -8000px
}

a {
  color: $link-color;

  &:hover {
    color: #000000;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.border-none {
  border: none !important;
}


header {
  .navbar {
    padding: 0px;
    padding-top: 12px;

    .navbar-brand img {
      width: 175px;
    }
  }

  .navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .bg-light {
    background-color: #ffffff !important;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 12px;
      background: url('../images/gositus/topbar_new.png') no-repeat;
      background-size: cover;
    }
  }

  button.menu-mobile {
    display: none;
  }

  .form-nav {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;

    .language {
      margin-right: 0px;
      margin-top: 20px;
    }

    form {
      position: relative;

      .form-control {
        font-size: 12px;
        color: #5f5f5f;
        height: calc(22px + .75rem + 0px);
        padding: 5px 10px;
        padding-right: 30px;
        border-color: #eee;
        margin-right: 0px;
      }

      button {
        position: absolute;
        right: 15px;
        padding: 0px;

        i {
          font-size: 14px;
          color: #5f5f5f;
        }
      }
    }
  }

  .navigation {
    margin-top: 8px;
    margin-bottom: 25px;
    position: relative;

    .nav {
      li {
        border-right: 1px solid #555555;

        &:last-child {
          border-right: 0px;
        }

        &:hover .dropdown-nav {
          display: block;
        }
      }

      .nav-item {
        padding: 2px 12px;
        line-height: normal;
        position: relative;

        &.active .nav-link {
          color: #ffffff;
          background-color: #555555;
        }

        .nav-link {
          font-size: 11px;
          color: $main-text-color;
          padding: 2px 6px 2px;
          transition: 0.4s all;

          &:hover,
          &.active {
            color: #ffffff;
            background-color: #6c88a0;
          }
        }
      }

      .dropdown-nav {
        background-color: #ffffff;
        width: 200px;
        padding: 0px 0px;
        border: 1px solid #eeeeee;
        position: absolute;
        z-index: 12;
        @media(max-width: 768px) {
          top: 0px;
          left: 0px;
        }
        @media(min-width: 600px) {
          top: 0px;
          left: 0px;
        }
        @media(min-width: 992px) {
          top: 40px;
          left: -70px;
        }
        @media(min-width: 1200px) {
          top: 40px;
          left: -70px;
        }

        li {
          border-right: none;
          list-style: none;

          &:first-child {
            padding-left: 0px;
          }
        }

        .nav-item {
          padding: 0px 0px;

          a {
            font-size: 11px;
            color: #555555;
            padding: 10px 0px 10px 0px;
            margin: 0px 20px 0px 20px;
            border-bottom: 1px solid #cccccc;
            display: block;

            &:hover, &.active {
              color: #6c88a0;
              background-color: transparent;
            }
          }

          &:last-child {
            a {
              border-bottom: none;
            }
          }
        }

        &::before {
          content: "";
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 12px solid #eeeeee;
          position: absolute;
          top: -12px;
          right: 80px;
          z-index: -1;
        }

        &::after {
          content: "";
          width: 0;
          height: 0;
          border-left: 18px solid transparent;
          border-right: 18px solid transparent;
          border-bottom: 22px solid #ffffff;
          position: absolute;
          top: -11px;
          right: 72px;
          z-index: -1;
        }

        &::before,
        &::after {
          @media(max-width: 768px) {
            display: none;
          }
          @media(min-width: 600px) {
            display: none;
          }
          @media(min-width: 992px) {
            display: block;
          }
          @media(min-width: 1200px) {
            display: block;
          }
        }
      }

      .abnr,
      .profile,
      .knowledge {
        &.is-active {
          .hover-link {
            background-color: #6c88a0;
            color: #ffffff;
          }
        }
      }

      .abnr {
        .dropdown-nav {
          left: -115%;
        }
      }

      .knowledge {
        .dropdown-nav {
          left: -28px;
        }
      }
    }

  }
}

.relative {
  position: relative !important;
}

.language {
  list-style: none;
  display: inline-block;
  position: absolute;
  right: 0px;
  top: -3px;
  margin-right: .5rem;

  li {
    display: inline-block;
    position: relative;
    opacity: .6;

    img {
      height: 11px;
    }

    &.active, &:hover {
      opacity: 1;
    }
  }
}

.main-content {
  @media(min-width: 900px) {
    min-height: 730px;
  }
  @media(min-width: 1200px) {
    min-height: auto;
  }

  .slide-wrapper {
    height: 100%;
    position: relative;
    z-index: 10;
    padding-bottom: 30px;
  }

  .badges {
    list-style-type: none;
    margin: 0;

    li {
      margin: 20px 0;

      img {
        width: 135px;
      }
    }

  }
}

.achievements {
  font-size: 12px;

  .achievements-list {
    padding-top: 10px;
    width: auto;
    list-style: none;

    li {
      display: inline-block;

      img {
        height: 65px;
        width: auto;
      }
    }
  }

  strong {
    color: #555555;
    display: block;
    margin-bottom: 12px;
  }

  ul {
    max-width: 455px;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    @media(max-width: 768px) {
      display: block;
    }

    li {
      width: 50%;
      line-height: 1.42;
      @media(max-width: 768px) {
        width: 100%;
        margin-bottom: 15px;
      }

      &:first-child {
        padding-right: 56px;
        @media(max-width: 768px) {
          padding-right: 0px;
        }
      }

      span {
        display: block;

        a {
          color: #555555;
          transition: 0.4s all;

          &:hover {
            color: #6c88a0;
          }
        }
      }
    }
  }
}

.international-affiliations {
  text-align: right;
  @media(max-width: 768px) {
    text-align: left;
  }

  span {
    font-size: 11px;
    margin-bottom: 16px;
    display: block;
  }

  img {
    width: 102px;
  }
}

.flex-direction-nav {
  .flex-next, .flex-prev {
    font-size: 0;
  }

  a {
    width: 30px !important;
    height: 30px !important;
    background: url('../images/gositus/arrows.png') no-repeat;

    &:before {
      display: none;
    }
  }

  .flex-next {
    background-position: -30px 0;
  }
}

.flexslider {
  .slides {
    img {
      height: 500px;
      object-fit: cover;
      border-radius: 5px;
      @media(max-width: 768px) {
        height: auto;
      }
    }
  }
}

.banner {
  .banner-left {
    &.profile-index,
    &.achievements-index,
    &.news-index,
    &.publication {
      object-fit: cover;
    }

    &.profile-detail {
      object-fit: cover;
    }
  }

  .caption-banner {
    background-color: #362e2b;
    color: #ffffff;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;

    p {
      font-family: 'Pragmatica';

      &.mainpage-title {
        font-size: 43px;
        line-height: 3rem;
      }

      &.scpage-title {
        font-size: 32px;
        line-height: 2.5rem;
      }
    }

    &.profile-index {
      background-color: #a3a574;
    }

    &.profile-detail {
      background-color: #90785c;
      position: relative;

      &::before {
        content: '';
        background-color: #949971;
        width: 50px;
        height: 100%;
        position: absolute;
        top: 0px;
        z-index: 1;
        @media(max-width: 768px) {
          display: none;
        }
        @media(min-width: 600px) {
          display: none;
        }
        @media(min-width: 900px) {
          display: block;
        }
        @media(min-width: 1200px) {
          display: block;
        }
      }
    }

    &.achievements-index,
    &.news-index,
    &.profile-index,
    &.archive,
    &.publication,
    &.search {
      background-color: #4f453a;

      h1 {
        font-family: 'Vonnes';
        font-size: 26px;
        line-height: 1.36;
        padding: 15px 20px;
        margin: 0px 0px;
        @media(max-width: 576px) {
          font-size: 20px;
        }
      }
    }

    &.profile-index {
      background-color: #a3a574;
    }
  }

  .aksen-right {
    &::after {
      content: '';
      background-color: #90785c;
      width: 50px;
      height: 100%;
      position: absolute;
      right: 0px;
      z-index: 1;
    }
  }
}



.flexslider {
  margin: 0 !important;
}

.page-title {
  color: $body-text-color;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
}

.mid-content {
  .nav {
    .nav-link {
      color: $link-color;
      font-size: 12px;
      padding: 0px;
      margin-top: 2px;
      margin-bottom: 8px;
      line-height: 15px;

      &:hover {
        color: #000000;
      }
    }
  }

  .target_link {
    padding-top: 12px;
    display: table;
    color: #a7a7a7;

    &:hover {
      color: #a3af32;
    }

    &.lg {
      i {
        font-size: 17px;
      }
    }

    img {
      height: 35px;
    }

    i {
      display: table-cell;
      padding-right: 5px;
      font-size: 22px;
      vertical-align: middle;
    }

    span {
      font-size: 10px;
      line-height: normal;
      display: table-cell;
      vertical-align: top;
      font-weight: bold;
    }
  }

  .description {
    a {
      color: $link-color;

      &:hover {
        color: #000000;
      }

      &.no-hover {
        &:hover {
          color: $link-color;
          text-decoration: none;
        }
      }
    }

    ol, ul {
      padding-left: 30px;
    }

    &.publication {
      .side-right .media {
        border-bottom: unset;

        img {
          width: 60px;
        }
      }
    }

    .desc-title {
      color: #4f606d;
      font-size: 20px;
      font-weight: normal;
      line-height: 20px;
      margin: 0;
      padding: 0;
      padding-top: 2px;
    }

    .timeline-title {
      font-size: 16px;
      font-weight: bold;
      position: relative;
      padding-bottom: 5px;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 50px;
        height: 3px;
        background-color: #90976b;
      }
    }

    .side-right {
      .media {
        overflow: hidden;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        margin-bottom: 10px;

        img {
          width: 100%;
        }

        a {
          width: 80px;
        }

        .media-body {
          padding-left: 15px;

          ul {
            padding-left: 15px;
          }
        }
      }

      .news-item {
        margin-bottom: 20px;

        h4 {
          font-size: 15px;
        }

        span {
          display: block;
          margin-bottom: 5px;
        }

        .with-img {
          display: grid;
          grid-template-columns: 118px 1fr;
          gap: 18px;

          img {
            width: 100%;
          }

          .content {
            position: relative;
            display: flex;
            flex-direction: column;

            .end-content {
              height: 100%;
              display: flex;
              align-items: end;
            }
          }
        }
      }
    }

    .dropdown {
      .dropdown-toggle::after {
        float: right;
        margin-top: 8px;
      }

      .btn {
        background-color: #ffffff;
        border-color: #ccc;
        margin-bottom: 15px;
        text-align: left;
        color: #000000;
        font-size: 14px;
      }

      .dropdown-menu {
        width: 100%;

        .dropdown-item {
          padding: 2px 15px;
          font-size: 12px;
        }
      }
    }
  }

  p {
    color: #555555;
  }

  .practice__right{
    .target_link {
      @media(max-width: 992px) {
        display: inline-block;
        padding: 12px 20px 0 20px;
      }
    }
    @media(max-width: 992px) {
      text-align: center;
    }
    p {
      text-transform: uppercase;
      color: #555555;
    }
  }

  .practice-achievement {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    @media(min-width: 500px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media(min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @media(min-width: 992px) {
      grid-template-columns: 1fr 1fr;
    }

    li {
      text-align: center;
      width: min-content;
      margin-right: auto;
      align-self: center;
      line-height: normal;
      margin-bottom: 20px;

      span {
        font-size: 10px;
        color: #555555;
        display: block;
      }

      img {
        width: 80px;
        height: 75px;
        margin: 0 auto 6px auto;
        object-fit: contain;
      }
    }
  }
}

.timeline {
  padding-left: 30px;
  position: relative;
  list-style: none;

  &:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    height: 100%;
    width: 3px;
    background-color: $link-color;
  }

  li {
    margin-bottom: 10px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: -25px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 3px solid $link-color;
      background-color: #ffffff;
    }

    &.year {
      font-weight: bold;
      font-size: 14px;

      &:before {
        left: -30px;
        top: 50%;
        @include transform(translateY(-50%));
        width: 23px;
        height: 7px;
        background-color: #90785c;
        border-radius: unset;
        border: unset;
      }
    }
  }
}

#importantlink {
  .modal-title {
    font-size: 12px;
    text-align: left;
    font-weight: bold;
    white-space: nowrap;
  }

  .modal-header {
    padding: .3rem 1rem;
  }

  .modal-body {
    padding: 0px;

    .main-foot {
      width: 100%;
      height: 12px;
      background: url(../images/gositus/footbar.jpg) no-repeat;
    }
  }

  #main_content {
    padding: 0px 15px;

    ul {
      padding-left: 15px;
    }

    a {
      color: #7d8658;

      &:hover {
        color: #000000;
      }
    }
  }
}

.award-item {
  display: flex;
  align-items: center;

  span {
    font-weight: 600;
    display: block;

  }
}

.small-title {
  color: $body-text-color;
  font-size: 12px;
  line-height: 18px;
}

.list-columns {
  display: block;
  list-style: none;

  &.two-columns {
    column-count: 2;
    column-gap: 30px;
  }

  &.lh-min {
    li a {
      line-height: 18px;
    }
  }

  li {
    a {
      color: $link-color;
      font-size: 12px;
      line-height: 25px;

      &:hover {
        color: #000000;
      }
    }
  }
}

h5.title {
  font-size: 17px;
  font-weight: normal;
  line-height: 20px;
  margin: 0;
  padding: 0;
  padding-top: 2px;
}

.pagination {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  border-radius: 0px;

  li {
    border-right: 1px solid #ccc;

    &:last-child {
      border-right: unset;
    }
  }

  .page-link {
    color: $link-color;
    border: unset;
    margin-left: 0px;
    border-radius: 0px;

    &:hover {
      color: #000000;
      background-color: #fff;
    }
  }
}

.contact address {
  border-right: 1px solid #ccc;
}

#form_map {
  p {
    margin-bottom: 0px;
  }

  input {
    padding: 5px;
    border: 1px solid #c2c2c2;
  }

  input[type="submit"] {
    font-family: Verdana, Geneva;
    font-size: 1em;
    color: #fff;
    background: -moz-linear-gradient(top, #36a4c9, #2a4152);
    background: -webkit-gradient(linear, left top, left bottom, from(#36a4c9), to(#2a4152));
    padding: 6px 16px;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
  }
}

.profile-filter {
  @media(max-width: 768px) {
    margin: 30px 0px;
  }
  @media(min-width: 600px) {
    margin: 30px 0px;
  }
  @media(min-width: 900px) {
    margin: 30px 0px;
  }
  @media(min-width: 1200px) {
    margin: 30px 10px;
  }

  .nav {
    .nav-item {
      position: relative;

      &::after {
        content: '';
        background-color: #a0a0a0;
        width: 1px;
        height: 14px;
        position: absolute;
        top: 50%;
        right: 0px;
        transform: translate(-50%, -50%);
      }

      &:last-child {
        &::after {
          display: none;
        }
      }
    }

    .nav-link {
      @media(max-width: 768px) {
        padding: .2rem 8px;
      }
      @media(min-width: 600px) {
        padding: .2rem 8px;
      }
      @media(min-width: 900px) {
        padding: .2rem 8px;
      }
      @media(min-width: 1200px) {
        padding: .15rem 10px;
      }

      span {
        font-size: 12px;
        padding: 2px 10px 2px;
        color: #555555;
        transition: 0.4s all;
      }

      &:hover,
      &.active {
        span {
          background-color: #6c88a0;
          color: #ffffff;
        }
      }
    }
  }
}

.profile-lists {
  .col-list {
    margin-bottom: 25px;
    display: inline-block;
    @media(max-width: 768px) {
      width: 100%;
    }
    @media(min-width: 600px) {
      width: 50%;
    }

    @media(min-width: 1200px) {
      width: 33%;
    }

    .isotope-item {
      display: grid;
      grid-template-columns: 96px 1fr;
      gap: 10px;
    }

    img {
      max-width: 96px;
      height: 120px;
      object-fit: cover;
    }
  }

  figure {
    margin: 0px 0px;
  }

  .figbody {
    min-height: 80px;
    padding: 0px 4px;

    h5 {
      font-size: 12px;
      color: #858585;
      margin-bottom: 5px;
      text-transform: capitalize;
    }

    a, .title {
      font-size: 14px;
      font-weight: bold;
      color: #555555;
      transition: 0.4s all;
      text-transform: capitalize;

      &:hover {
        color: #6c88a0;
      }
    }
  }

  .figfooter {
    a {
      color: #858585;
      display: block;
      transition: 0.4s all;
      margin-bottom: 3px;

      &:hover {
        color: #6c88a0;
      }
    }
  }
}

.profile-detail {
  .profile-desc {
    font-size: 12px;
    margin: 30px 0px 40px 0px;

    .download-pdf{
      display: flex;
      gap: 10px;
      align-items: center;
      i{
        font-size: 26px;
      }
      span{
        line-height: 1.3;
        font-weight: 600;
      }
    }

    p {
      //color: #858585;
    }

    strong {
      color: #555555;
      margin-bottom: 5px;
    }

    a {
      //color: #858585;
      transition: 0.4s all;

      &:hover {
        color: #6c88a0;
      }
    }

    &--left {
      font-size: 13px;
    }

    &--right {
      ul {
        list-style: none;
        display: grid;
        @media(max-width: 768px) {
          grid-template-columns: 1fr 1fr;
        }
        @media(min-width: 600px) {
          grid-template-columns: 1fr 1fr;
        }
        @media(min-width: 900px) {
          grid-template-columns: 1fr 1fr;
        }
        @media(min-width: 1200px) {
          grid-template-columns: 1fr 1fr 1fr;
        }

        li {
          text-align: center;
          width: min-content;
          margin-right: auto;
          align-self: center;
          line-height: normal;
          margin-bottom: 20px;

          span {
            font-size: 10px;
            color: #555555;
            display: block;
          }

          img {
            width: 100px;
            height: 75px;
            margin: 0 auto 6px auto;
            object-fit: contain;
          }
        }
      }

      strong {
        display: inline-block;
      }
    }
  }
}

.achievements-index {
  @media(max-width: 768px) {
    margin-top: 5px;
  }
  @media(min-width: 600px) {
    margin-top: 15px;
  }
  @media(min-width: 900px) {
    margin-top: 15px;
  }
  @media(min-width: 1200px) {
    margin-top: 30px;
  }

  .achievements-lists {
    .publication {
      font-size: 24px;
      color: #555555;
      margin-bottom: 22px;
      display: block;
    }
    .date {
      font-size: 20px;
      color: #555555;
      margin-bottom: 22px;
      display: block;
    }
  }

  ul {
    display: grid;
    list-style: none;
    margin: 0px 0px 50px 0px;
    gap: 30px;
    @media(max-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
    @media(min-width: 600px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media(min-width: 900px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media(min-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    li {
      align-self: center;

      img {
        max-width: 80%;
      }
    }
  }
}


.news-index {
  .news-lists {
    margin-top: 30px;
    display: grid;
    gap: 35px 20px;
    @media(max-width: 768px) {
      grid-template-columns: 1fr;
    }
    @media(min-width: 600px) {
      grid-template-columns: 1fr 1fr;
    }
    @media(min-width: 900px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media(min-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.4s ease-out;
    }

    figure {
      height: 160px;
      margin: 0px 0px 10px 0px;
      overflow: hidden;
    }

    figcaption {
      .date {
        font-size: 11px;
        color: #9d9d9d;
      }

      h5 {
        font-size: 13px;
        color: #555555;
        transition: 0.4s all;
      }
    }

    .col-list {
      &:hover {
        img {
          transform: scale(1.2);
        }

        h5 {
          color: #6c88a0;
        }
      }
    }
  }

  .see-all {
    margin: 42px 0px 32px 0px;
    text-align: right;

    a {
      transition: 0.4s all;
    }
  }
}

.archive {
  &__left,
  &__right {
    margin: 30px 0px 60px 0px;
  }

  &__left {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .list-columns {
      li {
        margin-bottom: 8px;

        a {
          color: #6c88a0;
        }
      }
    }
  }

  &__right {
    .news-item {
      margin-bottom: 30px;

      a {
        line-height: normal;
      }

      .date {
        font-size: 11px;
        color: #9d9d9d;
      }

      h4 {
        font-size: 13px;
        margin-bottom: 8px;
        color: #4d718f;
        transition: 0.4s all;
      }

      .desc {
        color: #555555;
      }
    }
  }
}

.news-detail {
  ol,ul{
    padding-left: 40px;
  }
  &__left {
    margin-top: 30px;
  }

  .date {
    font-size: 11px;
    color: #9d9d9d;
    display: block;
  }

  &__left {
    h5 {
      margin-bottom: 17px;
    }
  }

  &__left,
  &__right {
    margin-bottom: 32px;


    h5 {
      font-size: 13px;
      font-weight: bold;
      color: #555555;
    }
  }

  &__right {
    margin-top: 48px;

    h5 {
      margin-bottom: 15px;
    }

    ul {
      list-style: none;
        padding-left: 0;
      li {
        margin-bottom: 15px;

        a {
          transition: 0.4s all;
        }
      }
    }
  }
}

.publication {
  .publication-lists {
    margin-top: 30px;
    display: grid;
    gap: 25px;
    @media(max-width: 768px) {
      grid-template-columns: 1fr;
    }
    @media(min-width: 600px) {
      grid-template-columns: 1fr 1fr;
    }
    @media(min-width: 900px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media(min-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .media {
      display: grid;
      grid-template-columns: 118px 1fr;
      gap: 18px;

      img {
        width: 118px;
        height: 160px;
        object-fit: cover;
        @media(max-width: 768px) {
          height: auto;
        }
      }

      .date {
        font-size: 11px;
        color: #9d9d9d;
      }

      span {
        display: block;
      }

      a {
        color: #555555;
        transition: 0.4s all;
        min-height: 88px;
        display: block;

        h5 {
          font-size: 13px;
          display: inline-block;
          text-decoration: underline;
        }

        span {
          display: inline-block;
        }

        &:hover {
          color: #6c88a0;

          h5 {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.news-index,
.publication {
  &.knowledge {
    .title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 0px;
    }

    .news-lists,
    .publication-lists {
      margin-top: 15px;
    }

    .see-all {
      margin: 42px 0px 0px 0px;
    }
  }
}

.news-index {
  &.knowledge {
    margin-top: 30px;
    margin-bottom: 25px;
  }
}

.publication {
  &.knowledge {
    margin-bottom: 50px;
  }
}

#achievements {
  .modal-content {
    border-radius: 0px;
  }

  .modal-header {
    padding: 8px 15px 15px 15px;
    border-bottom: none;

    .close {
      position: absolute;
      right: 15px;
      padding: 1rem 12px;
      opacity: 1;
    }

    i {
      font-size: 16px;
      color: #bdbdbd;
      transition: 0.4s all;

      &:hover {
        color: #555555;
      }
    }
  }

  .modal-body {
    padding: 1rem 36px 18px 36px;
  }

  h1,
  strong {
    color: #555555;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 5px;
  }

  strong {
    font-size: 13px;
  }

  img {
    max-width: 200px;
    display: block;
    margin: 0 auto;
    align-self: center;
  }

  ul {
    font-size: 13px;
    margin-top: 10px;
    color: #858585;
    padding-left: 10px;

    li {
      margin-bottom: 5px
    }
  }

  p {
    font-size: 13px;
    color: #858585;
  }
}

.pagination-cs {
  margin: 25px 0px;
  border-top: none;

  .pagination {
    border-top: none;
  }

  li {
    border-right: none;
  }

  .page-link {
    padding: 2px 10px 1px 10px;
    color: #858585;
    transition: 0.4s all;
  }

  .page-item {
    margin-right: 8px;

    &:last-child {
      margin-right: 0px;
    }

    &:first-child .page-link {
      border-top-left-radius: 0rem;
      border-bottom-left-radius: 0rem;
    }

    &.active {
      .page-link {
        background-color: #6c88a0;
        color: #ffffff;
      }
    }
  }
}

.nav {
  &.flex-column {
    a {
      transition: 0.4s all;
    }
  }
}

footer {
  width: 100%;
  // position: absolute;
  // bottom: 0px;
  // left: 0px;
  .copyright {
    font-size: 13px;
    margin-top: 10px;
    border-top: 1px solid rgba(204, 204, 204, 0.4);
    padding: 16px 0 5px 0;
    color: #555555;
    display: grid;
    grid-template-columns: 1fr 1fr;

    ul {
      text-align: left;
      list-style: none;
      display: flex;
      gap: 12px;
      margin-bottom: 10px;

      li {
        i {
          font-size: 20px;
          color: #1471c1;
        }
      }
    }

    small {
      margin-right: 4px;

      span {
        font-size: 10px;
        margin-right: 5px;
      }
    }
  }
}

.overflow-x {
  overflow-x: hidden
}

.loading-search{
  text-align: center;
  i{
    font-size: 28px;
  }
}

@import "desktop";
@import "tablet";
@import "mobile";
@import "small_mobile";