/* Wajib menambahkan font-display:swap; */
@font-face { font-family: 'Pragmatica'; src: url("webfonts/fonts/Pragmatica-ExtraLight.ttf"); font-style: normal; font-display: swap; }

@font-face { font-family: 'Gothic'; src: url("webfonts/fonts/GothicExtendedExtraLight.ttf"); font-style: normal; font-display: swap; }

* { margin: 0; padding: 0; outline: none; }

a, a:link, a:visited { text-decoration: none; }

body { font-family: Arial, Verdana, Helvetica, Comic Sans MS; font-size: 12px; color: #463f25; margin: 0; padding: 0; line-height: 18px; }

h1, h3, h4, h5, h6, p, blockquote { font-family: Helvetica, Arial, Verdana; }

h5, h4 { font-weight: normal; margin: 0; padding: 0; padding-top: 2px; }

h5 { font-size: 17px; line-height: 16px; }

h4 { font-size: 20px; line-height: 20px; }

h2 { font-family: Helvetica, Arial, Verdana; }

img { border: none; }

div.clear { clear: both; }

#copyright-gositus { background: url(../images/gositus/go-online-solusi.png) no-repeat left bottom; display: inline-block; font-size: 10px; height: 20px; padding-left: 23px; color: inherit; background-size: 18px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }

#copyright-gositus:hover { background-position: left top; }

#copyright-gositus:hover label { color: #9dd22a; cursor: pointer; }

#copyright-gositus:hover span { color: #97d4e9; }

.banner-name-right { font-family: 'Gothic'; padding: 0px 0px 25px 0px; font-size: 30px; line-height: 35px; letter-spacing: 1px; transform: scale(0.8, 1); }

.clearfix { display: inline-block; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* Hide from IE Mac \*/
.clearfix { display: block; }

/* End hide from IE Mac */
::-moz-selection { background-color: #97d4e9; color: #FFFFFF; }

::selection { background-color: #97d4e9; color: #FFFFFF; }

.gohide { display: none; }

label.error { color: #ff5a00; display: block; margin-top: 5px; margin-bottom: 10px; padding: 0; font-weight: normal; text-align: left; font-size: 13px; }

#kotakkosong { position: absolute; top: -8000px; left: -8000px; }

a { color: #5c7f91; }

a:hover { color: #000000; }

header .navbar { padding: 0px; padding-top: 12px; }

header .navbar .navbar-brand img { width: 175px; }

header .navbar-expand-lg { -ms-flex-flow: row nowrap; flex-flow: row nowrap; -ms-flex-pack: start; justify-content: flex-start; }

header .bg-light { background-color: #ffffff !important; position: relative; }

header .bg-light:before { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 12px; background: url("../images/gositus/topbar.jpg") no-repeat; }

header button.menu-mobile { display: none; }

header .form-nav { display: -ms-flexbox !important; display: flex !important; -ms-flex-preferred-size: auto; flex-basis: auto; -ms-flex-preferred-size: 100%; flex-basis: 100%; -ms-flex-positive: 1; flex-grow: 1; -ms-flex-align: center; align-items: center; }

header .form-nav .language { margin-right: 0px; margin-top: 20px; }

header .form-nav form { position: relative; }

header .form-nav form .form-control { font-size: 12px; height: calc(1.5em + .75rem + 0px); padding: 5px 10px; padding-right: 30px; margin-right: 0px; }

header .form-nav form button { position: absolute; right: 15px; padding: 0px; }

header .form-nav form button i { font-size: 12px; color: #495057; }

header .navigation { position: relative;margin-bottom: 30px; }
.main-content .slide-wrapper {

  padding-bottom: 30px;
}

header .navigation .nav li { border-right: 1px solid #666; }

header .navigation .nav li:last-child { border-right: 0px; }

header .navigation .nav li:hover .dropdown-nav { display: flex; }

header .navigation .nav .nav-item { padding: 2px 12px; line-height: normal; position: relative; }

header .navigation .nav .nav-item.active .nav-link { color: #ffffff; background-color: #5c7f91; }

header .navigation .nav .nav-item .nav-link { padding: 0px 2px; font-size: 10px; color: #5d6c79; }

header .navigation .nav .nav-item .nav-link:hover, header .navigation .nav .nav-item .nav-link.active { color: #ffffff; background-color: #5c7f91; }

header .navigation .nav .dropdown-nav { position: absolute; width: max-content; padding: 10px 0px; display: none; }

header .navigation .nav .dropdown-nav li { list-style: none; }

header .navigation .nav .dropdown-nav li:first-child { padding-left: 0px; }

.relative { position: relative !important; }

.language { list-style: none; display: inline-block; position: absolute; right: 0px; top: -3px; margin-right: .5rem; }

.language li { display: inline-block; position: relative; opacity: .6; }

.language li img { height: 11px; }

.language li.active, .language li:hover { opacity: 1; }

.main-content .slide-wrapper { height: 100%; position: relative; z-index: 10; }
.flexslider{margin:0px!important}
.achievements { font-size: 10px; }

.achievements .achievements-list { padding-top: 10px; width: auto; list-style: none; }

.achievements .achievements-list li { display: inline-block; }

.achievements .achievements-list li img { height: 50px; width: auto; }

.flex-direction-nav .flex-next, .flex-direction-nav .flex-prev { font-size: 0; }

.flex-direction-nav a { width: 30px !important; height: 30px !important; background: url("../images/gositus/arrows.png") no-repeat; }

.flex-direction-nav a:before { display: none; }

.flex-direction-nav .flex-next { background-position: -30px 0; }

.banner .caption-banner { background-color: #362e2b; color: #ffffff; font-weight: normal; font-size: 22px; line-height: 32px; }

.banner .caption-banner p { font-family: 'Pragmatica'; }

.banner .caption-banner p.mainpage-title { font-size: 43px; line-height: 3rem; }

.banner .caption-banner p.scpage-title { font-size: 32px; line-height: 2.5rem; }

.page-title { color: #463f25; font-weight: normal; font-size: 30px; line-height: 40px; }

.mid-content .nav .nav-link { color: #5c7f91; font-size: 12px; padding: 0px; margin-top: 2px; margin-bottom: 8px; line-height: 15px; }

.mid-content .nav .nav-link:hover { color: #000000; }

.mid-content .target_link { padding-top: 12px; display: table; color: #a7a7a7; }

.mid-content .target_link:hover { color: #a3af32; }

.mid-content .target_link.lg i { font-size: 17px; }

.mid-content .target_link img { height: 35px; }

.mid-content .target_link i { display: table-cell; padding-right: 5px; font-size: 22px; vertical-align: middle; }

.mid-content .target_link span { font-size: 10px; line-height: normal; display: table-cell; vertical-align: top; font-weight: bold; }

.mid-content .description a { color: #5c7f91; }

.mid-content .description a:hover { color: #000000; }

.mid-content .description a.no-hover:hover { color: #5c7f91; text-decoration: none; }

.mid-content .description p { margin-bottom: 0px; }

.mid-content .description ol, .mid-content .description ul { padding-left: 30px; }

.mid-content .description.publication .side-right .media { border-bottom: unset; }

.mid-content .description.publication .side-right .media img { width: 60px; }

.mid-content .description .desc-title { color: #4f606d; font-size: 20px; font-weight: normal; line-height: 20px; margin: 0; padding: 0; padding-top: 2px; }

.mid-content .description .timeline-title { font-size: 16px; font-weight: bold; position: relative; padding-bottom: 5px; }

.mid-content .description .timeline-title:before { content: ''; position: absolute; left: 0; bottom: 0; width: 50px; height: 3px; background-color: #90976b; }

.mid-content .description .side-right .media { overflow: hidden; border-bottom: 1px solid #ccc; padding-bottom: 10px; margin-bottom: 10px; }

.mid-content .description .side-right .media img { width: 100%; }

.mid-content .description .side-right .media a { width: 80px; }

.mid-content .description .side-right .media .media-body { padding-left: 15px; }

.mid-content .description .side-right .media .media-body ul { padding-left: 15px; }

.mid-content .description .side-right .news-item { margin-bottom: 20px; }

.mid-content .description .side-right .news-item h4 { font-size: 12px; }

.mid-content .description .side-right .news-item span { display: block; margin-bottom: 5px; }

.mid-content .description .dropdown .dropdown-toggle::after { float: right; margin-top: 8px; }

.mid-content .description .dropdown .btn { background-color: #ffffff; border-color: #ccc; margin-bottom: 15px; text-align: left; color: #000000; font-size: 14px; }

.mid-content .description .dropdown .dropdown-menu { width: 100%; }

.mid-content .description .dropdown .dropdown-menu .dropdown-item { padding: 2px 15px; font-size: 12px; }

.timeline { padding-left: 30px; position: relative; list-style: none; }

.timeline:before { content: ''; position: absolute; top: 10px; left: 10px; height: 100%; width: 3px; background-color: #5c7f91; }

.timeline li { margin-bottom: 10px; position: relative; }

.timeline li:before { content: ''; position: absolute; left: -25px; width: 12px; height: 12px; border-radius: 50%; border: 3px solid #5c7f91; background-color: #ffffff; }

.timeline li.year { font-weight: bold; font-size: 14px; }

.timeline li.year:before { left: -30px; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); width: 23px; height: 7px; background-color: #90785c; border-radius: unset; border: unset; }

#importantlink .modal-title { font-size: 12px; text-align: left; font-weight: bold; white-space: nowrap; }

#importantlink .modal-header { padding: .3rem 1rem; }

#importantlink .modal-body { padding: 0px; }

#importantlink .modal-body .main-foot { width: 100%; height: 12px; background: url(../images/gositus/footbar.jpg) no-repeat; }

#importantlink #main_content { padding: 0px 15px; }

#importantlink #main_content ul { padding-left: 15px; }

#importantlink #main_content a { color: #7d8658; }

#importantlink #main_content a:hover { color: #000000; }

.award-item { display: flex; align-items: center; }

.award-item span { font-weight: 600; display: block; }

.small-title { color: #463f25; font-size: 12px; line-height: 18px; }

.list-columns { display: block; list-style: none; }

.list-columns.two-columns { column-count: 2; column-gap: 30px; }

.list-columns.lh-min li a { line-height: 18px; }

.list-columns li a { color: #5c7f91; font-size: 12px; line-height: 25px; }

.list-columns li a:hover { color: #000000; }

h5.title { font-size: 17px; font-weight: normal; line-height: 20px; margin: 0; padding: 0; padding-top: 2px; }

.pagination { border-top: 1px solid #ccc; margin-top: 20px; border-radius: 0px; }

.pagination li { border-right: 1px solid #ccc; }

.pagination li:last-child { border-right: unset; }

.pagination .page-link { color: #5c7f91; border: unset; margin-left: 0px; border-radius: 0px; }

.pagination .page-link:hover { color: #000000; background-color: #fff; }

.contact address { border-right: 1px solid #ccc; }

#form_map p { margin-bottom: 0px; }

#form_map input { padding: 5px; border: 1px solid #c2c2c2; }

#form_map input[type="submit"] { font-family: Verdana, Geneva; font-size: 1em; color: #fff; background: -moz-linear-gradient(top, #36a4c9, #2a4152); background: -webkit-gradient(linear, left top, left bottom, from(#36a4c9), to(#2a4152)); padding: 6px 16px; border: none; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; cursor: pointer; }

footer .copyright { margin-top: 10px; border-top: 1px solid #dedede; padding: 5px 0; color: #999; }

@media (min-width: 1200px) { .container-lg { max-width: 1007px; } }

@media (max-width: 850px) { body { overflow-x: hidden; }
  header .navigation { padding-bottom: 30px; }
  .main-content .slide-wrapper {

    padding-bottom: 30px;
  }
  header button.menu-mobile { display: flex; margin-left: 15px; border: unset; background: unset; font-size: 14px; color: #5c7f92; }
  header button.menu-mobile:hover { color: #51616e; }
  header button.menu-mobile:hover span { background-color: #51616e; }
  header button.menu-mobile .burger-menu { position: relative; width: 30px; height: 16px; }
  header button.menu-mobile.show span:nth-child(1) { transform: translateY(-50%) rotate(45deg); top: 50%; }
  header button.menu-mobile.show span:nth-child(3) { transform: translateY(-50%) rotate(-45deg); top: 50%; }
  header button.menu-mobile.show span:nth-child(2) { opacity: 0; }
  header button.menu-mobile span { position: absolute; background-color: #5c7f92; display: block; width: 30px; height: 2px; border-radius: 4px; transition-property: transform; transition-duration: 300ms; }
  header button.menu-mobile span:nth-child(1) { top: 0px; }
  header button.menu-mobile span:nth-child(2) { top: 50%; transform: translateY(-50%); }
  header button.menu-mobile span:nth-child(3) { bottom: 0px; }
  header .navigation .nav { display: block; position: fixed; width: 250px; top: 0; right: 0; transform: translateX(250px); height: 100%; padding-top: 45px; background: #f9f9f9; }
  header .navigation .nav li { border-right: unset; }
  header .navigation .nav li a { -webkit-transform: translateX(30px); -moz-transform: translateX(30px); -ms-transform: translateX(30px); -o-transform: translateX(30px); transform: translateX(30px); opacity: 0; }
  header .navigation .nav li:hover .dropdown-nav.nav { display: block; }
  header .navigation .nav .nav-item { padding: 0px; }
  header .navigation .nav .nav-item .nav-link { padding: 8px 15px; font-size: 12px; }
  header .navigation .nav .dropdown-nav.nav { transform: translateX(0px); position: relative; width: 100%; display: block; padding-top: 0px; background-color: #eceaea; }
  header .navigation .nav .dropdown-nav.nav .nav-item { display: block; }
  header .navigation .nav .dropdown-nav.nav .nav-item .nav-link { padding: 8px 15px; padding-left: 30px; position: relative; }
  header .navigation .nav .dropdown-nav.nav .nav-item .nav-link:before { content: '-'; position: absolute; top: 50%; left: 17px; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); }
  #contain-wrapper { -webkit-transition: translateX(0px); -moz-transition: translateX(0px); transition: translateX(0px); -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }
  #contain-wrapper.show { -webkit-transform: translateX(-250px); -moz-transform: translateX(-250px); -ms-transform: translateX(-250px); -o-transform: translateX(-250px); transform: translateX(-250px); }
  #contain-wrapper.show .navigation .nav li a { -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0); opacity: 1; }
  #contain-wrapper.show .navigation .nav li:nth-child(1) a { -webkit-transition: -webkit-transform ease 0.6s 0.3s, opacity ease 0.6s 0.3s; -moz-transition: -moz-transform ease 0.6s 0.3s, opacity ease 0.6s 0.3s; transition: transform ease 0.6s 0.3s, opacity ease 0.6s 0.3s; }
  #contain-wrapper.show .navigation .nav li:nth-child(2) a { -webkit-transition: -webkit-transform ease 0.6s 0.4s, opacity ease 0.6s 0.4s; -moz-transition: -moz-transform ease 0.6s 0.4s, opacity ease 0.6s 0.4s; transition: transform ease 0.6s 0.4s, opacity ease 0.6s 0.4s; }
  #contain-wrapper.show .navigation .nav li:nth-child(3) a { -webkit-transition: -webkit-transform ease 0.6s 0.5s, opacity ease 0.6s 0.5s; -moz-transition: -moz-transform ease 0.6s 0.5s, opacity ease 0.6s 0.5s; transition: transform ease 0.6s 0.5s, opacity ease 0.6s 0.5s; }
  #contain-wrapper.show .navigation .nav li:nth-child(4) a { -webkit-transition: -webkit-transform ease 0.6s 0.6s, opacity ease 0.6s 0.6s; -moz-transition: -moz-transform ease 0.6s 0.6s, opacity ease 0.6s 0.6s; transition: transform ease 0.6s 0.6s, opacity ease 0.6s 0.6s; }
  #contain-wrapper.show .navigation .nav li:nth-child(5) a { -webkit-transition: -webkit-transform ease 0.6s 0.7s, opacity ease 0.6s 0.7s; -moz-transition: -moz-transform ease 0.6s 0.7s, opacity ease 0.6s 0.7s; transition: transform ease 0.6s 0.7s, opacity ease 0.6s 0.7s; }
  #contain-wrapper.show .navigation .nav li:nth-child(6) a { -webkit-transition: -webkit-transform ease 0.6s 0.8s, opacity ease 0.6s 0.8s; -moz-transition: -moz-transform ease 0.6s 0.8s, opacity ease 0.6s 0.8s; transition: transform ease 0.6s 0.8s, opacity ease 0.6s 0.8s; }
  #contain-wrapper.show .navigation .nav li:nth-child(7) a { -webkit-transition: -webkit-transform ease 0.6s 0.9s, opacity ease 0.6s 0.9s; -moz-transition: -moz-transform ease 0.6s 0.9s, opacity ease 0.6s 0.9s; transition: transform ease 0.6s 0.9s, opacity ease 0.6s 0.9s; }
  #contain-wrapper.show .navigation .nav li:nth-child(8) a { -webkit-transition: -webkit-transform ease 0.6s 1s, opacity ease 0.6s 1s; -moz-transition: -moz-transform ease 0.6s 1s, opacity ease 0.6s 1s; transition: transform ease 0.6s 1s, opacity ease 0.6s 1s; }
  #contain-wrapper.show .navigation .nav li:nth-child(9) a { -webkit-transition: -webkit-transform ease 0.6s 1.1s, opacity ease 0.6s 1.1s; -moz-transition: -moz-transform ease 0.6s 1.1s, opacity ease 0.6s 1.1s; transition: transform ease 0.6s 1.1s, opacity ease 0.6s 1.1s; } }

@media (max-width: 767px) { body { font-size: 14px; line-height: 1.8; }
  .banner-name-right { padding: 0px 0px 20px 0px; font-size: 20px; line-height: 20px; }
  .page-title { font-size: 25px; line-height: 30px; }
  .banner .caption-banner p.mainpage-title { font-size: 38px; line-height: 2.7rem; }
  header .navbar .navbar-brand img { width: 150px; }
  .dropdown-item { white-space: break-spaces; } }

@media (max-width: 576px) { .banner-name-right { padding: 0px 0px 15px 0px; font-size: 18px; line-height: 20px; }
  .main-content .slide-wrapper { height: 100%; padding-bottom: 30px;}
  .flexslider { margin: 0 !important; }
  .achievements .achievements-list li { margin-bottom: 10px; width: 22%; text-align: center; padding: 0; margin-right: 10px; }
  .achievements .achievements-list li img { height: auto; width: 100%; }
  #custom_scroll_right { height: auto !important; } }

@media (max-width: 380px) { .main-content .slide-wrapper { height: 100%;padding-bottom: 30px;} }

/*# sourceMappingURL=front.css.map */