/* Wajib menambahkan font-display:swap; */
@font-face {
  font-family: "Pragmatica";
  src: url("webfonts/fonts/Pragmatica-ExtraLight.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gothic";
  src: url("webfonts/fonts/GothicExtendedExtraLight.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Vonnes";
  src: url("webfonts/fonts/Vonnes-Light.woff2") format("woff2"), url("webfonts/fonts/Vonnes-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
}

a, a:link, a:visited {
  text-decoration: none;
}

html {
  position: relative;
  min-height: 100%;
}
@media (max-width: 768px) {
  html {
    overflow-x: hidden;
  }
}

body {
  font-family: Arial, Verdana, Helvetica, Comic Sans MS;
  font-size: 12px;
  color: #463f25;
  margin: 0;
  padding: 0;
  line-height: 18px;
}

h1, h3, h4, h5, h6, p, blockquote {
  font-family: Helvetica, Arial, Verdana;
}

h5, h4 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  padding-top: 2px;
}

h5 {
  font-size: 17px;
  line-height: 16px;
}

h4 {
  font-size: 20px;
  line-height: 20px;
}

h2 {
  font-family: Helvetica, Arial, Verdana;
}

img {
  border: none;
}

div.clear {
  clear: both;
}

#copyright-gositus {
  background: url(../images/gositus/go-online-solusi.png) no-repeat left bottom;
  display: inline-block;
  font-size: 10px;
  height: 20px;
  padding-left: 23px;
  color: inherit;
  background-size: 18px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
#copyright-gositus:hover {
  background-position: left top;
}
#copyright-gositus:hover label {
  color: #9dd22a;
  cursor: pointer;
}
#copyright-gositus:hover span {
  color: #97d4e9;
}

.banner-name-right {
  font-family: "Vonnes";
  padding: 0px 8px 10px 2px;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 42px;
  letter-spacing: 1px;
  transform: scale(0.8);
}
@media (min-width: 600px) {
  .banner-name-right {
    padding: 15px 0px 15px 0px !important;
  }
}
.banner-name-right small {
  font-size: 16px;
  display: block;
}

.clearfix {
  display: inline-block;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Hide from IE Mac \*/
.clearfix {
  display: block;
}

/* End hide from IE Mac */
::-moz-selection {
  background-color: #97d4e9;
  color: #FFFFFF;
}

::selection {
  background-color: #97d4e9;
  color: #FFFFFF;
}

.gohide {
  display: none;
}

label.error {
  color: #ff5a00;
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 0;
  font-weight: normal;
  text-align: left;
  font-size: 13px;
}

#kotakkosong {
  position: absolute;
  top: -8000px;
  left: -8000px;
}

a {
  color: #5c7f91;
}
a:hover {
  color: #000000;
}

.overflow-hidden {
  overflow: hidden;
}

.border-none {
  border: none !important;
}

header .navbar {
  padding: 0px;
  padding-top: 12px;
}
header .navbar .navbar-brand img {
  width: 175px;
}
header .navbar-expand-lg {
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
header .bg-light {
  background-color: #ffffff !important;
  position: relative;
}
header .bg-light:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 12px;
  background: url("../images/gositus/topbar_new.png") no-repeat;
  background-size: cover;
}
header button.menu-mobile {
  display: none;
}
header .form-nav {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: center;
}
header .form-nav .language {
  margin-right: 0px;
  margin-top: 20px;
}
header .form-nav form {
  position: relative;
}
header .form-nav form .form-control {
  font-size: 12px;
  color: #5f5f5f;
  height: calc(22px + 0.75rem + 0px);
  padding: 5px 10px;
  padding-right: 30px;
  border-color: #eee;
  margin-right: 0px;
}
header .form-nav form button {
  position: absolute;
  right: 15px;
  padding: 0px;
}
header .form-nav form button i {
  font-size: 14px;
  color: #5f5f5f;
}
header .navigation {
  margin-top: 8px;
  margin-bottom: 25px;
  position: relative;
}
header .navigation .nav li {
  border-right: 1px solid #555555;
}
header .navigation .nav li:last-child {
  border-right: 0px;
}
header .navigation .nav li:hover .dropdown-nav {
  display: block;
}
header .navigation .nav .nav-item {
  padding: 2px 12px;
  line-height: normal;
  position: relative;
}
header .navigation .nav .nav-item.active .nav-link {
  color: #ffffff;
  background-color: #555555;
}
header .navigation .nav .nav-item .nav-link {
  font-size: 11px;
  color: #5d6c79;
  padding: 2px 6px 2px;
  transition: 0.4s all;
}
header .navigation .nav .nav-item .nav-link:hover, header .navigation .nav .nav-item .nav-link.active {
  color: #ffffff;
  background-color: #6c88a0;
}
header .navigation .nav .dropdown-nav {
  background-color: #ffffff;
  width: 200px;
  padding: 0px 0px;
  border: 1px solid #eeeeee;
  position: absolute;
  z-index: 12;
}
@media (max-width: 768px) {
  header .navigation .nav .dropdown-nav {
    top: 0px;
    left: 0px;
  }
}
@media (min-width: 600px) {
  header .navigation .nav .dropdown-nav {
    top: 0px;
    left: 0px;
  }
}
@media (min-width: 992px) {
  header .navigation .nav .dropdown-nav {
    top: 40px;
    left: -70px;
  }
}
@media (min-width: 1200px) {
  header .navigation .nav .dropdown-nav {
    top: 40px;
    left: -70px;
  }
}
header .navigation .nav .dropdown-nav li {
  border-right: none;
  list-style: none;
}
header .navigation .nav .dropdown-nav li:first-child {
  padding-left: 0px;
}
header .navigation .nav .dropdown-nav .nav-item {
  padding: 0px 0px;
}
header .navigation .nav .dropdown-nav .nav-item a {
  font-size: 11px;
  color: #555555;
  padding: 10px 0px 10px 0px;
  margin: 0px 20px 0px 20px;
  border-bottom: 1px solid #cccccc;
  display: block;
}
header .navigation .nav .dropdown-nav .nav-item a:hover, header .navigation .nav .dropdown-nav .nav-item a.active {
  color: #6c88a0;
  background-color: transparent;
}
header .navigation .nav .dropdown-nav .nav-item:last-child a {
  border-bottom: none;
}
header .navigation .nav .dropdown-nav::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 12px solid #eeeeee;
  position: absolute;
  top: -12px;
  right: 80px;
  z-index: -1;
}
header .navigation .nav .dropdown-nav::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 22px solid #ffffff;
  position: absolute;
  top: -11px;
  right: 72px;
  z-index: -1;
}
@media (max-width: 768px) {
  header .navigation .nav .dropdown-nav::before, header .navigation .nav .dropdown-nav::after {
    display: none;
  }
}
@media (min-width: 600px) {
  header .navigation .nav .dropdown-nav::before, header .navigation .nav .dropdown-nav::after {
    display: none;
  }
}
@media (min-width: 992px) {
  header .navigation .nav .dropdown-nav::before, header .navigation .nav .dropdown-nav::after {
    display: block;
  }
}
@media (min-width: 1200px) {
  header .navigation .nav .dropdown-nav::before, header .navigation .nav .dropdown-nav::after {
    display: block;
  }
}
header .navigation .nav .abnr.is-active .hover-link,
header .navigation .nav .profile.is-active .hover-link,
header .navigation .nav .knowledge.is-active .hover-link {
  background-color: #6c88a0;
  color: #ffffff;
}
header .navigation .nav .abnr .dropdown-nav {
  left: -115%;
}
header .navigation .nav .knowledge .dropdown-nav {
  left: -28px;
}

.relative {
  position: relative !important;
}

.language {
  list-style: none;
  display: inline-block;
  position: absolute;
  right: 0px;
  top: -3px;
  margin-right: 0.5rem;
}
.language li {
  display: inline-block;
  position: relative;
  opacity: 0.6;
}
.language li img {
  height: 11px;
}
.language li.active, .language li:hover {
  opacity: 1;
}

@media (min-width: 900px) {
  .main-content {
    min-height: 730px;
  }
}
@media (min-width: 1200px) {
  .main-content {
    min-height: auto;
  }
}
.main-content .slide-wrapper {
  height: 100%;
  position: relative;
  z-index: 10;
  padding-bottom: 30px;
}
.main-content .badges {
  list-style-type: none;
  margin: 0;
}
.main-content .badges li {
  margin: 20px 0;
}
.main-content .badges li img {
  width: 135px;
}

.achievements {
  font-size: 12px;
}
.achievements .achievements-list {
  padding-top: 10px;
  width: auto;
  list-style: none;
}
.achievements .achievements-list li {
  display: inline-block;
}
.achievements .achievements-list li img {
  height: 65px;
  width: auto;
}
.achievements strong {
  color: #555555;
  display: block;
  margin-bottom: 12px;
}
.achievements ul {
  max-width: 455px;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
}
@media (max-width: 768px) {
  .achievements ul {
    display: block;
  }
}
.achievements ul li {
  width: 50%;
  line-height: 1.42;
}
@media (max-width: 768px) {
  .achievements ul li {
    width: 100%;
    margin-bottom: 15px;
  }
}
.achievements ul li:first-child {
  padding-right: 56px;
}
@media (max-width: 768px) {
  .achievements ul li:first-child {
    padding-right: 0px;
  }
}
.achievements ul li span {
  display: block;
}
.achievements ul li span a {
  color: #555555;
  transition: 0.4s all;
}
.achievements ul li span a:hover {
  color: #6c88a0;
}

.international-affiliations {
  text-align: right;
}
@media (max-width: 768px) {
  .international-affiliations {
    text-align: left;
  }
}
.international-affiliations span {
  font-size: 11px;
  margin-bottom: 16px;
  display: block;
}
.international-affiliations img {
  width: 102px;
}

.flex-direction-nav .flex-next, .flex-direction-nav .flex-prev {
  font-size: 0;
}
.flex-direction-nav a {
  width: 30px !important;
  height: 30px !important;
  background: url("../images/gositus/arrows.png") no-repeat;
}
.flex-direction-nav a:before {
  display: none;
}
.flex-direction-nav .flex-next {
  background-position: -30px 0;
}

.flexslider .slides img {
  height: 500px;
  object-fit: cover;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .flexslider .slides img {
    height: auto;
  }
}

.banner .banner-left.profile-index, .banner .banner-left.achievements-index, .banner .banner-left.news-index, .banner .banner-left.publication {
  object-fit: cover;
}
.banner .banner-left.profile-detail {
  object-fit: cover;
}
.banner .caption-banner {
  background-color: #362e2b;
  color: #ffffff;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
}
.banner .caption-banner p {
  font-family: "Pragmatica";
}
.banner .caption-banner p.mainpage-title {
  font-size: 43px;
  line-height: 3rem;
}
.banner .caption-banner p.scpage-title {
  font-size: 32px;
  line-height: 2.5rem;
}
.banner .caption-banner.profile-index {
  background-color: #a3a574;
}
.banner .caption-banner.profile-detail {
  background-color: #90785c;
  position: relative;
}
.banner .caption-banner.profile-detail::before {
  content: "";
  background-color: #949971;
  width: 50px;
  height: 100%;
  position: absolute;
  top: 0px;
  z-index: 1;
}
.news-detail__left table td p {margin:10px 0;}

@media (max-width: 768px) {
  .banner .caption-banner.profile-detail::before {
    display: none;
  }
}
@media (min-width: 600px) {
  .banner .caption-banner.profile-detail::before {
    display: none;
  }
}
@media (min-width: 900px) {
  .banner .caption-banner.profile-detail::before {
    display: block;
  }
}
@media (min-width: 1200px) {
  .banner .caption-banner.profile-detail::before {
    display: block;
  }
}
.banner .caption-banner.achievements-index, .banner .caption-banner.news-index, .banner .caption-banner.profile-index, .banner .caption-banner.archive, .banner .caption-banner.publication, .banner .caption-banner.search {
  background-color: #4f453a;
}
.banner .caption-banner.achievements-index h1, .banner .caption-banner.news-index h1, .banner .caption-banner.profile-index h1, .banner .caption-banner.archive h1, .banner .caption-banner.publication h1, .banner .caption-banner.search h1 {
  font-family: "Vonnes";
  font-size: 26px;
  line-height: 1.36;
  padding: 15px 20px;
  margin: 0px 0px;
}
@media (max-width: 576px) {
  .banner .caption-banner.achievements-index h1, .banner .caption-banner.news-index h1, .banner .caption-banner.profile-index h1, .banner .caption-banner.archive h1, .banner .caption-banner.publication h1, .banner .caption-banner.search h1 {
    font-size: 20px;
  }
}
.banner .caption-banner.profile-index {
  background-color: #a3a574;
}
.banner .aksen-right::after {
  content: "";
  background-color: #90785c;
  width: 50px;
  height: 100%;
  position: absolute;
  right: 0px;
  z-index: 1;
}

.flexslider {
  margin: 0 !important;
}

.page-title {
  color: #463f25;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
}

.mid-content .nav .nav-link {
  color: #5c7f91;
  font-size: 12px;
  padding: 0px;
  margin-top: 2px;
  margin-bottom: 8px;
  line-height: 15px;
}
.mid-content .nav .nav-link:hover {
  color: #000000;
}
.mid-content .target_link {
  padding-top: 12px;
  display: table;
  color: #a7a7a7;
}
.mid-content .target_link:hover {
  color: #a3af32;
}
.mid-content .target_link.lg i {
  font-size: 17px;
}
.mid-content .target_link img {
  height: 35px;
}
.mid-content .target_link i {
  display: table-cell;
  padding-right: 5px;
  font-size: 22px;
  vertical-align: middle;
}
.mid-content .target_link span {
  font-size: 10px;
  line-height: normal;
  display: table-cell;
  vertical-align: top;
  font-weight: bold;
}
.mid-content .description a {
  color: #5c7f91;
}
.mid-content .description a:hover {
  color: #000000;
}
.mid-content .description a.no-hover:hover {
  color: #5c7f91;
  text-decoration: none;
}
.mid-content .description ol, .mid-content .description ul {
  padding-left: 30px;
}
.mid-content .description.publication .side-right .media {
  border-bottom: unset;
}
.mid-content .description.publication .side-right .media img {
  width: 60px;
}
.mid-content .description .desc-title {
  color: #4f606d;
  font-size: 20px;
  font-weight: normal;
  line-height: 20px;
  margin: 0;
  padding: 0;
  padding-top: 2px;
}
.mid-content .description .timeline-title {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 5px;
}
.mid-content .description .timeline-title:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 3px;
  background-color: #90976b;
}
.mid-content .description .side-right .media {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.mid-content .description .side-right .media img {
  width: 100%;
}
.mid-content .description .side-right .media a {
  width: 80px;
}
.mid-content .description .side-right .media .media-body {
  padding-left: 15px;
}
.mid-content .description .side-right .media .media-body ul {
  padding-left: 15px;
}
.mid-content .description .side-right .news-item {
  margin-bottom: 20px;
}
.mid-content .description .side-right .news-item h4 {
  font-size: 15px;
}
.mid-content .description .side-right .news-item span {
  display: block;
  margin-bottom: 5px;
}
.mid-content .description .side-right .news-item .with-img {
  display: grid;
  grid-template-columns: 118px 1fr;
  gap: 18px;
}
.mid-content .description .side-right .news-item .with-img img {
  width: 100%;
}
.mid-content .description .side-right .news-item .with-img .content {
  position: relative;
  display: flex;
  flex-direction: column;
}
.mid-content .description .side-right .news-item .with-img .content .end-content {
  height: 100%;
  display: flex;
  align-items: end;
}
.mid-content .description .dropdown .dropdown-toggle::after {
  float: right;
  margin-top: 8px;
}
.mid-content .description .dropdown .btn {
  background-color: #ffffff;
  border-color: #ccc;
  margin-bottom: 15px;
  text-align: left;
  color: #000000;
  font-size: 14px;
}
.mid-content .description .dropdown .dropdown-menu {
  width: 100%;
}
.mid-content .description .dropdown .dropdown-menu .dropdown-item {
  padding: 2px 15px;
  font-size: 12px;
}
.mid-content p {
  color: #555555;
}
@media (max-width: 992px) {
  .mid-content .practice__right .target_link {
    display: inline-block;
    padding: 12px 20px 0 20px;
  }
}
@media (max-width: 992px) {
  .mid-content .practice__right {
    text-align: center;
  }
}
.mid-content .practice__right p {
  text-transform: uppercase;
  color: #555555;
}
.mid-content .practice-achievement {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 500px) {
  .mid-content .practice-achievement {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .mid-content .practice-achievement {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 992px) {
  .mid-content .practice-achievement {
    grid-template-columns: 1fr 1fr;
  }
}
.mid-content .practice-achievement li {
  text-align: center;
  width: min-content;
  margin-right: auto;
  align-self: center;
  line-height: normal;
  margin-bottom: 20px;
}
.mid-content .practice-achievement li span {
  font-size: 10px;
  color: #555555;
  display: block;
}
.mid-content .practice-achievement li img {
  width: 80px;
  height: 75px;
  margin: 0 auto 6px auto;
  object-fit: contain;
}

.timeline {
  padding-left: 30px;
  position: relative;
  list-style: none;
}
.timeline:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  height: 100%;
  width: 3px;
  background-color: #5c7f91;
}
.timeline li {
  margin-bottom: 10px;
  position: relative;
}
.timeline li:before {
  content: "";
  position: absolute;
  left: -25px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 3px solid #5c7f91;
  background-color: #ffffff;
}
.timeline li.year {
  font-weight: bold;
  font-size: 14px;
}
.timeline li.year:before {
  left: -30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 23px;
  height: 7px;
  background-color: #90785c;
  border-radius: unset;
  border: unset;
}

#importantlink .modal-title {
  font-size: 12px;
  text-align: left;
  font-weight: bold;
  white-space: nowrap;
}
#importantlink .modal-header {
  padding: 0.3rem 1rem;
}
#importantlink .modal-body {
  padding: 0px;
}
#importantlink .modal-body .main-foot {
  width: 100%;
  height: 12px;
  background: url(../images/gositus/footbar.jpg) no-repeat;
}
#importantlink #main_content {
  padding: 0px 15px;
}
#importantlink #main_content ul {
  padding-left: 15px;
}
#importantlink #main_content a {
  color: #7d8658;
}
#importantlink #main_content a:hover {
  color: #000000;
}

.award-item {
  display: flex;
  align-items: center;
}
.award-item span {
  font-weight: 600;
  display: block;
}

.small-title {
  color: #463f25;
  font-size: 12px;
  line-height: 18px;
}

.list-columns {
  display: block;
  list-style: none;
}
.list-columns.two-columns {
  column-count: 2;
  column-gap: 30px;
}
.list-columns.lh-min li a {
  line-height: 18px;
}
.list-columns li a {
  color: #5c7f91;
  font-size: 12px;
  line-height: 25px;
}
.list-columns li a:hover {
  color: #000000;
}

h5.title {
  font-size: 17px;
  font-weight: normal;
  line-height: 20px;
  margin: 0;
  padding: 0;
  padding-top: 2px;
}

.pagination {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  border-radius: 0px;
}
.pagination li {
  border-right: 1px solid #ccc;
}
.pagination li:last-child {
  border-right: unset;
}
.pagination .page-link {
  color: #5c7f91;
  border: unset;
  margin-left: 0px;
  border-radius: 0px;
}
.pagination .page-link:hover {
  color: #000000;
  background-color: #fff;
}

.contact address {
  border-right: 1px solid #ccc;
}

#form_map p {
  margin-bottom: 0px;
}
#form_map input {
  padding: 5px;
  border: 1px solid #c2c2c2;
}
#form_map input[type=submit] {
  font-family: Verdana, Geneva;
  font-size: 1em;
  color: #fff;
  background: -moz-linear-gradient(top, #36a4c9, #2a4152);
  background: -webkit-gradient(linear, left top, left bottom, from(#36a4c9), to(#2a4152));
  padding: 6px 16px;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .profile-filter {
    margin: 30px 0px;
  }
}
@media (min-width: 600px) {
  .profile-filter {
    margin: 30px 0px;
  }
}
@media (min-width: 900px) {
  .profile-filter {
    margin: 30px 0px;
  }
}
@media (min-width: 1200px) {
  .profile-filter {
    margin: 30px 10px;
  }
}
.profile-filter .nav .nav-item {
  position: relative;
}
.profile-filter .nav .nav-item::after {
  content: "";
  background-color: #a0a0a0;
  width: 1px;
  height: 14px;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(-50%, -50%);
}
.profile-filter .nav .nav-item:last-child::after {
  display: none;
}
@media (max-width: 768px) {
  .profile-filter .nav .nav-link {
    padding: 0.2rem 8px;
  }
}
@media (min-width: 600px) {
  .profile-filter .nav .nav-link {
    padding: 0.2rem 8px;
  }
}
@media (min-width: 900px) {
  .profile-filter .nav .nav-link {
    padding: 0.2rem 8px;
  }
}
@media (min-width: 1200px) {
  .profile-filter .nav .nav-link {
    padding: 0.15rem 10px;
  }
}
.profile-filter .nav .nav-link span {
  font-size: 12px;
  padding: 2px 10px 2px;
  color: #555555;
  transition: 0.4s all;
}
.profile-filter .nav .nav-link:hover span, .profile-filter .nav .nav-link.active span {
  background-color: #6c88a0;
  color: #ffffff;
}

.profile-lists .col-list {
  margin-bottom: 25px;
  display: inline-block;
}
@media (max-width: 768px) {
  .profile-lists .col-list {
    width: 100%;
  }
}
@media (min-width: 600px) {
  .profile-lists .col-list {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .profile-lists .col-list {
    width: 33%;
  }
}
.profile-lists .col-list .isotope-item {
  display: grid;
  grid-template-columns: 96px 1fr;
  gap: 10px;
}
.profile-lists .col-list img {
  max-width: 96px;
  height: 120px;
  object-fit: cover;
}
.profile-lists figure {
  margin: 0px 0px;
}
.profile-lists .figbody {
  min-height: 80px;
  padding: 0px 4px;
}
.profile-lists .figbody h5 {
  font-size: 12px;
  color: #858585;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.profile-lists .figbody a, .profile-lists .figbody .title {
  font-size: 14px;
  font-weight: bold;
  color: #555555;
  transition: 0.4s all;
  text-transform: capitalize;
}
.profile-lists .figbody a:hover, .profile-lists .figbody .title:hover {
  color: #6c88a0;
}
.profile-lists .figfooter a {
  color: #858585;
  display: block;
  transition: 0.4s all;
  margin-bottom: 3px;
}
.profile-lists .figfooter a:hover {
  color: #6c88a0;
}

.profile-detail .profile-desc {
  font-size: 12px;
  margin: 30px 0px 40px 0px;
}
.profile-detail .profile-desc .download-pdf {
  display: flex;
  gap: 10px;
  align-items: center;
}
.profile-detail .profile-desc .download-pdf i {
  font-size: 26px;
}
.profile-detail .profile-desc .download-pdf span {
  line-height: 1.3;
  font-weight: 600;
}
.profile-detail .profile-desc strong {
  color: #555555;
  margin-bottom: 5px;
}
.profile-detail .profile-desc a {
  transition: 0.4s all;
}
.profile-detail .profile-desc a:hover {
  color: #6c88a0;
}
.profile-detail .profile-desc--left {
  font-size: 13px;
}
.profile-detail .profile-desc--right ul {
  list-style: none;
  display: grid;
}
@media (max-width: 768px) {
  .profile-detail .profile-desc--right ul {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 600px) {
  .profile-detail .profile-desc--right ul {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 900px) {
  .profile-detail .profile-desc--right ul {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .profile-detail .profile-desc--right ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.profile-detail .profile-desc--right ul li {
  text-align: center;
  width: min-content;
  margin-right: auto;
  align-self: center;
  line-height: normal;
  margin-bottom: 20px;
}
.profile-detail .profile-desc--right ul li span {
  font-size: 10px;
  color: #555555;
  display: block;
}
.profile-detail .profile-desc--right ul li img {
  width: 100px;
  height: 75px;
  margin: 0 auto 6px auto;
  object-fit: contain;
}
.profile-detail .profile-desc--right strong {
  display: inline-block;
}

@media (max-width: 768px) {
  .achievements-index {
    margin-top: 5px;
  }
}
@media (min-width: 600px) {
  .achievements-index {
    margin-top: 15px;
  }
}
@media (min-width: 900px) {
  .achievements-index {
    margin-top: 15px;
  }
}
@media (min-width: 1200px) {
  .achievements-index {
    margin-top: 30px;
  }
}
.achievements-index .achievements-lists .publication {
  font-size: 24px;
  color: #555555;
  margin-bottom: 22px;
  display: block;
}
.achievements-index .achievements-lists .date {
  font-size: 20px;
  color: #555555;
  margin-bottom: 22px;
  display: block;
}
.achievements-index ul {
  display: grid;
  list-style: none;
  margin: 0px 0px 50px 0px;
  gap: 30px;
}
@media (max-width: 768px) {
  .achievements-index ul {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 600px) {
  .achievements-index ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 900px) {
  .achievements-index ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .achievements-index ul {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
.achievements-index ul li {
  align-self: center;
}
.achievements-index ul li img {
  max-width: 80%;
}

.news-index .news-lists {
  margin-top: 30px;
  display: grid;
  gap: 35px 20px;
}
@media (max-width: 768px) {
  .news-index .news-lists {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 600px) {
  .news-index .news-lists {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 900px) {
  .news-index .news-lists {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .news-index .news-lists {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.news-index .news-lists img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s ease-out;
}
.news-index .news-lists figure {
  height: 160px;
  margin: 0px 0px 10px 0px;
  overflow: hidden;
}
.news-index .news-lists figcaption .date {
  font-size: 11px;
  color: #9d9d9d;
}
.news-index .news-lists figcaption h5 {
  font-size: 13px;
  color: #555555;
  transition: 0.4s all;
}
.news-index .news-lists .col-list:hover img {
  transform: scale(1.2);
}
.news-index .news-lists .col-list:hover h5 {
  color: #6c88a0;
}
.news-index .see-all {
  margin: 42px 0px 32px 0px;
  text-align: right;
}
.news-index .see-all a {
  transition: 0.4s all;
}

.archive__left, .archive__right {
  margin: 30px 0px 60px 0px;
}
.archive__left {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.archive__left .list-columns li {
  margin-bottom: 8px;
}
.archive__left .list-columns li a {
  color: #6c88a0;
}
.archive__right .news-item {
  margin-bottom: 30px;
}
.archive__right .news-item a {
  line-height: normal;
}
.archive__right .news-item .date {
  font-size: 11px;
  color: #9d9d9d;
}
.archive__right .news-item h4 {
  font-size: 13px;
  margin-bottom: 8px;
  color: #4d718f;
  transition: 0.4s all;
}
.archive__right .news-item .desc {
  color: #555555;
}

.news-detail ol, .news-detail ul {
  padding-left: 40px;
}
.news-detail__left {
  margin-top: 30px;
}
.news-detail .date {
  font-size: 11px;
  color: #9d9d9d;
  display: block;
}
.news-detail__left h5 {
  margin-bottom: 17px;
}
.news-detail__left, .news-detail__right {
  margin-bottom: 32px;
}
.news-detail__left h5, .news-detail__right h5 {
  font-size: 13px;
  font-weight: bold;
  color: #555555;
}
.news-detail__right {
  margin-top: 48px;
}
.news-detail__right h5 {
  margin-bottom: 15px;
}
.news-detail__right ul {
  list-style: none;
  padding-left: 0;
}
.news-detail__right ul li {
  margin-bottom: 15px;
}
.news-detail__right ul li a {
  transition: 0.4s all;
}

.publication .publication-lists {
  margin-top: 30px;
  display: grid;
  gap: 25px;
}
@media (max-width: 768px) {
  .publication .publication-lists {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 600px) {
  .publication .publication-lists {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 900px) {
  .publication .publication-lists {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .publication .publication-lists {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.publication .publication-lists .media {
  display: grid;
  grid-template-columns: 118px 1fr;
  gap: 18px;
}
.publication .publication-lists .media img {
  width: 118px;
  height: 160px;
  object-fit: cover;
}
@media (max-width: 768px) {
  .publication .publication-lists .media img {
    height: auto;
  }
}
.publication .publication-lists .media .date {
  font-size: 11px;
  color: #9d9d9d;
}
.publication .publication-lists .media span {
  display: block;
}
.publication .publication-lists .media a {
  color: #555555;
  transition: 0.4s all;
  min-height: 88px;
  display: block;
}
.publication .publication-lists .media a h5 {
  font-size: 13px;
  display: inline-block;
  text-decoration: underline;
}
.publication .publication-lists .media a span {
  display: inline-block;
}
.publication .publication-lists .media a:hover {
  color: #6c88a0;
}
.publication .publication-lists .media a:hover h5 {
  text-decoration: none;
}

.news-index.knowledge .title,
.publication.knowledge .title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0px;
}
.news-index.knowledge .news-lists,
.news-index.knowledge .publication-lists,
.publication.knowledge .news-lists,
.publication.knowledge .publication-lists {
  margin-top: 15px;
}
.news-index.knowledge .see-all,
.publication.knowledge .see-all {
  margin: 42px 0px 0px 0px;
}

.news-index.knowledge {
  margin-top: 30px;
  margin-bottom: 25px;
}

.publication.knowledge {
  margin-bottom: 50px;
}

#achievements .modal-content {
  border-radius: 0px;
}
#achievements .modal-header {
  padding: 8px 15px 15px 15px;
  border-bottom: none;
}
#achievements .modal-header .close {
  position: absolute;
  right: 15px;
  padding: 1rem 12px;
  opacity: 1;
}
#achievements .modal-header i {
  font-size: 16px;
  color: #bdbdbd;
  transition: 0.4s all;
}
#achievements .modal-header i:hover {
  color: #555555;
}
#achievements .modal-body {
  padding: 1rem 36px 18px 36px;
}
#achievements h1,
#achievements strong {
  color: #555555;
}
#achievements h1 {
  font-size: 24px;
  margin-bottom: 5px;
}
#achievements strong {
  font-size: 13px;
}
#achievements img {
  max-width: 200px;
  display: block;
  margin: 0 auto;
  align-self: center;
}
#achievements ul {
  font-size: 13px;
  margin-top: 10px;
  color: #858585;
  padding-left: 10px;
}
#achievements ul li {
  margin-bottom: 5px;
}
#achievements p {
  font-size: 13px;
  color: #858585;
}

.pagination-cs {
  margin: 25px 0px;
  border-top: none;
}
.pagination-cs .pagination {
  border-top: none;
}
.pagination-cs li {
  border-right: none;
}
.pagination-cs .page-link {
  padding: 2px 10px 1px 10px;
  color: #858585;
  transition: 0.4s all;
}
.pagination-cs .page-item {
  margin-right: 8px;
}
.pagination-cs .page-item:last-child {
  margin-right: 0px;
}
.pagination-cs .page-item:first-child .page-link {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.pagination-cs .page-item.active .page-link {
  background-color: #6c88a0;
  color: #ffffff;
}

.nav.flex-column a {
  transition: 0.4s all;
}

footer {
  width: 100%;
}
footer .copyright {
  font-size: 13px;
  margin-top: 10px;
  border-top: 1px solid rgba(204, 204, 204, 0.4);
  padding: 16px 0 5px 0;
  color: #555555;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
footer .copyright ul {
  text-align: left;
  list-style: none;
  display: flex;
  gap: 12px;
  margin-bottom: 10px;
}
footer .copyright ul li i {
  font-size: 20px;
  color: #1471c1;
}
footer .copyright small {
  margin-right: 4px;
}
footer .copyright small span {
  font-size: 10px;
  margin-right: 5px;
}

.overflow-x {
  overflow-x: hidden;
}

.loading-search {
  text-align: center;
}
.loading-search i {
  font-size: 28px;
}

@media (min-width: 1200px) {
  .container-lg {
    max-width: 1007px;
  }
}
@media (max-width: 992px) {
  header .navigation {
    margin-bottom: 20px;
  }
  header button.menu-mobile {
    display: flex;
    margin-left: 15px;
    border: unset;
    background: unset;
    font-size: 14px;
    color: #5c7f92;
  }
  header button.menu-mobile:hover {
    color: #51616e;
  }
  header button.menu-mobile:hover span {
    background-color: #51616e;
  }
  header button.menu-mobile .burger-menu {
    position: relative;
    width: 30px;
    height: 16px;
  }
  header button.menu-mobile.show span:nth-child(1) {
    transform: translateY(-50%) rotate(45deg);
    top: 50%;
  }
  header button.menu-mobile.show span:nth-child(3) {
    transform: translateY(-50%) rotate(-45deg);
    top: 50%;
  }
  header button.menu-mobile.show span:nth-child(2) {
    opacity: 0;
  }
  header button.menu-mobile span {
    position: absolute;
    background-color: #5c7f92;
    display: block;
    width: 30px;
    height: 2px;
    border-radius: 4px;
    transition-property: transform;
    transition-duration: 300ms;
  }
  header button.menu-mobile span:nth-child(1) {
    top: 0px;
  }
  header button.menu-mobile span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  header button.menu-mobile span:nth-child(3) {
    bottom: 0px;
  }
  header .navigation .nav {
    display: block;
    position: fixed;
    width: 250px;
    top: 0;
    right: 0;
    transform: translateX(250px);
    height: 100%;
    padding-top: 45px;
    background: #f9f9f9;
  }
  header .navigation .nav li {
    border-right: unset;
  }
  header .navigation .nav li a {
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -ms-transform: translateX(30px);
    -o-transform: translateX(30px);
    transform: translateX(30px);
    opacity: 0;
  }
  header .navigation .nav li:hover .dropdown-nav.nav {
    display: block;
  }
  header .navigation .nav .nav-item {
    padding: 0px;
  }
  header .navigation .nav .nav-item .nav-link {
    padding: 8px 15px;
    font-size: 12px;
  }
  header .navigation .nav .dropdown-nav.nav {
    transform: translateX(0px);
    position: relative;
    width: 100%;
    display: block;
    padding-top: 0px;
    background-color: #eceaea;
  }
  header .navigation .nav .dropdown-nav.nav .nav-item {
    display: block;
  }
  header .navigation .nav .dropdown-nav.nav .nav-item .nav-link {
    padding: 8px 15px;
    padding-left: 30px;
    position: relative;
  }
  header .navigation .nav .dropdown-nav.nav .nav-item .nav-link:before {
    content: "-";
    position: absolute;
    top: 50%;
    left: 17px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  #contain-wrapper {
    -webkit-transition: translateX(0px);
    -moz-transition: translateX(0px);
    transition: translateX(0px);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  #contain-wrapper.show {
    -webkit-transform: translateX(-250px);
    -moz-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    -o-transform: translateX(-250px);
    transform: translateX(-250px);
  }
  #contain-wrapper.show .navigation .nav li a {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  #contain-wrapper.show .navigation .nav li:nth-child(1) a {
    -webkit-transition: -webkit-transform ease 0.6s 0.3s, opacity ease 0.6s 0.3s;
    -moz-transition: -moz-transform ease 0.6s 0.3s, opacity ease 0.6s 0.3s;
    transition: transform ease 0.6s 0.3s, opacity ease 0.6s 0.3s;
  }
  #contain-wrapper.show .navigation .nav li:nth-child(2) a {
    -webkit-transition: -webkit-transform ease 0.6s 0.4s, opacity ease 0.6s 0.4s;
    -moz-transition: -moz-transform ease 0.6s 0.4s, opacity ease 0.6s 0.4s;
    transition: transform ease 0.6s 0.4s, opacity ease 0.6s 0.4s;
  }
  #contain-wrapper.show .navigation .nav li:nth-child(3) a {
    -webkit-transition: -webkit-transform ease 0.6s 0.5s, opacity ease 0.6s 0.5s;
    -moz-transition: -moz-transform ease 0.6s 0.5s, opacity ease 0.6s 0.5s;
    transition: transform ease 0.6s 0.5s, opacity ease 0.6s 0.5s;
  }
  #contain-wrapper.show .navigation .nav li:nth-child(4) a {
    -webkit-transition: -webkit-transform ease 0.6s 0.6s, opacity ease 0.6s 0.6s;
    -moz-transition: -moz-transform ease 0.6s 0.6s, opacity ease 0.6s 0.6s;
    transition: transform ease 0.6s 0.6s, opacity ease 0.6s 0.6s;
  }
  #contain-wrapper.show .navigation .nav li:nth-child(5) a {
    -webkit-transition: -webkit-transform ease 0.6s 0.7s, opacity ease 0.6s 0.7s;
    -moz-transition: -moz-transform ease 0.6s 0.7s, opacity ease 0.6s 0.7s;
    transition: transform ease 0.6s 0.7s, opacity ease 0.6s 0.7s;
  }
  #contain-wrapper.show .navigation .nav li:nth-child(6) a {
    -webkit-transition: -webkit-transform ease 0.6s 0.8s, opacity ease 0.6s 0.8s;
    -moz-transition: -moz-transform ease 0.6s 0.8s, opacity ease 0.6s 0.8s;
    transition: transform ease 0.6s 0.8s, opacity ease 0.6s 0.8s;
  }
  #contain-wrapper.show .navigation .nav li:nth-child(7) a {
    -webkit-transition: -webkit-transform ease 0.6s 0.9s, opacity ease 0.6s 0.9s;
    -moz-transition: -moz-transform ease 0.6s 0.9s, opacity ease 0.6s 0.9s;
    transition: transform ease 0.6s 0.9s, opacity ease 0.6s 0.9s;
  }
  #contain-wrapper.show .navigation .nav li:nth-child(8) a {
    -webkit-transition: -webkit-transform ease 0.6s 1s, opacity ease 0.6s 1s;
    -moz-transition: -moz-transform ease 0.6s 1s, opacity ease 0.6s 1s;
    transition: transform ease 0.6s 1s, opacity ease 0.6s 1s;
  }
  #contain-wrapper.show .navigation .nav li:nth-child(9) a {
    -webkit-transition: -webkit-transform ease 0.6s 1.1s, opacity ease 0.6s 1.1s;
    -moz-transition: -moz-transform ease 0.6s 1.1s, opacity ease 0.6s 1.1s;
    transition: transform ease 0.6s 1.1s, opacity ease 0.6s 1.1s;
  }
}
@media (max-width: 767px) {
  body {
    font-size: 14px;
    line-height: 1.8;
  }
  .banner-name-right {
    padding: 0px 0px 20px 0px;
    font-size: 20px;
    line-height: 20px;
  }
  .page-title {
    font-size: 25px;
    line-height: 30px;
  }
  .banner .caption-banner p.mainpage-title {
    font-size: 38px;
    line-height: 2.7rem;
  }
  header .navbar .navbar-brand img {
    width: 125px;
  }
  .dropdown-item {
    white-space: break-spaces;
  }
  .main-content .badges {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .main-content .badges li {
    padding: 0 20px;
  }
  .main-content .badges li img {
    width: 100px;
  }
}
@media (max-width: 576px) {
  .banner-name-right {
    padding: 15px 0px 15px 0px;
    font-size: 18px;
    line-height: 20px;
  }
  .main-content .slide-wrapper {
    height: 100%;
  }
  .flexslider {
    margin: 0 !important;
  }
  .achievements .achievements-list li {
    margin-bottom: 10px;
    width: 22%;
    text-align: center;
    padding: 0;
    margin-right: 10px;
    margin: 0;
  }
  .achievements .achievements-list li img {
    height: auto;
    width: 100%;
  }
  #custom_scroll_right {
    height: auto !important;
  }
}

/*# sourceMappingURL=front.css.map */
